[2016-01-08 06:54] amccool opened #1 "defining the port is case sensitive"
<BootstrapProviders>
      <Provider Type="OrleansDashboard.Dashboard" Name="Dashboard" port="8088" />
    </BootstrapProviders>

port must be lowercase.   Perhaps just update the readme.md

[2016-01-08 09:30] richorama commented on #1
It started off as `port`, and then I changed it to `Port` in this commit:

https://github.com/richorama/OrleansDashboard/commit/6c09d9d63fd8c886c4cf51248a6d158192702512#diff-1695e6ec90ee151603a1e01d726cf858R54

It may be that you're looking at an older version of the code, and the readme is up-to-date?

[2016-01-08 09:30] #1 closed

[2016-02-03 21:03] richorama opened #3 "Improvements to grain tables"
Suggested by @attilah :

[2016-03-30 07:05] Pravin4Derivco opened #4 "Support for Silo Cluster?"
Hi,

Thanks for this very handy tool.
I have tried this with a standalone silo, where this looks perfectly fine; but I would like to know if this code also works with Cluster of Silos. Thanks.

Regards,

Pravin

[2016-03-30 08:17] richorama commented on #4
It should work just fine. Let me know if you're having any trouble.

[2016-03-30 08:17] #4 closed

[2016-03-30 08:59] Pravin4Derivco commented on #4
Thanks for your reply. Right now I am working on Silo Clustering; and struggling badly with it :-). And once that is done, I will definitely write you if I have any trouble with Dashboard. Thanks again.

[2016-03-30 09:12] richorama commented on #4
No problem. BTW, there is a chat room where you can ask questions to get you started: https://gitter.im/dotnet/orleans

[2016-03-30 13:28] Pravin4Derivco commented on #4
Thanks Rich.

[2016-06-01 00:42] amccool opened #7 "OrleansDashboard.SiloGrain has called DeactivateOnIdle from within OnActivateAsync, which is not allowed."
`[2016-06-01 00:36:53.369 GMT    11	ERROR  	100513	Catalog	172.18.124.93:11111]
!!!!!!!!!! Error calling grain's OnActivateAsync() method - Grain type = OrleansDashboard.SiloGrain Activation = [Activation: S172.18.124.93:11111:202434420*grn/ACD5BA64/00000000+172.18.124.93:11111@202429561@6623488c #GrainType=OrleansDashboard.SiloGrain Placement=RandomPlacement State=Activating]
`

`Exc level 0: Sys

[2016-06-01 04:58] richorama commented on #7
Interesting! Thanks, I'll take a look!

[2016-06-01 09:00] #7 closed

[2016-06-01 09:00] richorama commented on #7
fixed

[2016-07-01 09:31] GadgetGeekUK opened #8 "Support for older Orleans releases"
Would it be possible to have a version that supports .NET 4.5 and Orleans 1.0.10.0 ?

I have had a go at downgrading it without success. The dashboard would be really useful in our environment.

[2016-07-01 09:56] richorama commented on #8
Hi, the earliest version of Orleans that this dashboard goes back to is 1.1.0

https://github.com/OrleansContrib/OrleansDashboard/blob/b952686cbb431ccff0590fea8929b41d01db7608/OrleansDashboard/packages.config#L6

I'm curious to know if you would consider upgrading to the latest Orleans? I think it would be difficult to maintain the dashboard for every Orleans release (although I'm not ruling it ou

[2016-07-01 12:14] GadgetGeekUK commented on #8
I'm pushing for an upgrade, but it takes time...in the meantime we are stuck with 1.0.10 and .NET 4.5. I've been unable to downgrade your host to get it to work (the latest version worked straight out of the box). I then went on to follow the 'Minimal Orleans Application' example on the Orleans site only to find out that it doesn't work either.
I got both to spool up a Silo Host, but when the 'Get

[2016-07-04 10:41] GadgetGeekUK commented on #8
I've resolved the issues I had with the Grain Factory. I now have a working 1.0.10.0 version!

Maybe you could just mark the code with a 'Release' just prior to an Orleans version upgrade? No need to maintain them then, and people can go back to an earlier release without having to go down the rabbit hole like I did. ;)

[2016-07-04 10:41] #8 closed

[2016-08-14 19:04] danvanderboom opened #9 "Add page or view for displaying custom metrics with history"
It'd be great to see custom, app-specific metrics displayed on this admin dashboard. Some kind of simple API or Dashboard grain method to receive app-specific metrics updates.

It'd be interesting to find a loosely-coupled way of integrating OrleansDashboard with [Orleans.TelemetryConsumers.MetricsTracker](https://github.com/danvanderboom/Orleans.TelemetryConsumers.MetricsTracker).

[2016-08-14 19:10] danvanderboom opened #10 "Add horizontal time axis to dashboard charts"
It'd be nice to see the time indicated along the bottom of the chart, showing how long various scale-up operations took. Maybe hover over a point on the graph to see the UTC DateTime displayed or something.

[2016-08-14 19:20] richorama commented on #10
good suggestion

[2016-08-14 22:13] danvanderboom opened #11 "display "disconnected" instead of "active" when silo statistics no longer available"
Once a silo is shut down and can no longer supply the dashboard with data, display "disconnected" in red or orange instead of continuing to display "active" in green.

<img width="864" alt="screen shot 2016-08-14 at 4 08 21 pm" src="https://cloud.githubusercontent.com/assets/2482850/17652464/bc3be530-6239-11e6-9ee4-ab96eaf3fce9.png">

[2016-09-07 04:56] falconmick opened #12 "Issues deploying to azure"
Has anyone successfully deployed to azure? I'm having all kinds of issues

[2016-09-07 06:16] richorama commented on #12
Could you describe the issues?

Sent from my iPhone

[2016-09-11 22:03] falconmick commented on #12
I started from scratch and managed to get it working.

sorry

[2016-09-11 22:03] #12 closed

[2016-10-14 08:35] richorama opened #14 "Integrate with MetricTracker"
Investigate using [MetricTracker](https://github.com/OrleansContrib/Orleans.TelemetryConsumers.MetricsTracker) to capture telemetry data.

[2016-10-14 08:35] richorama opened #15 "Show grain exceptions on the graph"

[2016-10-18 13:30] DixonDs opened #16 "Cannot load IDashboardGrain when deployed to Azure"
I get the following error:
[code]

Any ideas what could be wrong or how can I track the source of the issue?

[2016-10-18 13:53] richorama commented on #16
Hi @DixonDs,

Can you confirm that the DLL is deployed on to the Azure machine? It looks like it can't find it...

[2016-10-18 13:55] richorama commented on #16
Ignore that, you can see quite clearly from the stack trace that it can find the bootstrap provider, it just isn't loading the grain implementation.. Not sure why..

[2016-10-18 13:58] DixonDs commented on #16
I have a suspicion that it has something to do with bootstrap load order since I use DI to load grain implementations, so maybe that happens on the later stage than bootstraper `Init` method called. But it is just a speculation.

[2016-10-18 14:45] richorama commented on #16
AFAIK the grains are registered first. I wonder whether the DLL isn't on the load path for grains..

[2016-10-18 14:57] jdom commented on #16
Are you sure that dashboard project has the build time codegen package installed? Otherwise it will rely on the host project to have runtime codegen enabled (which is optional).
The other likely issue is if not all of Orleans packages where not updated to 1.3.0, as mismatched versions currently don't work well with each other

[2016-10-18 15:01] richorama commented on #16
Thanks @jdom,

The codegen appears to be included : https://github.com/OrleansContrib/OrleansDashboard/blob/master/OrleansDashboard/packages.config#L9

[2016-10-20 13:11] FranKieCZ opened #17 "All grains fail during OnActiveAsync"
Hi,

I've recently updated our App to Orleans 1.3.0 and it works fine. However, I wanted to try your Dashboard (especially the latency and throughout metrics, which I love! :) ) but when i add Dasboard to the project, any call to any Grain fail.

[code]

In our project we use Bootstrap to init IoC container (Unity), we plan to change it to the way how DI works in Orleans now but we didn't have tim

[2016-10-20 14:13] DixonDs commented on #16
@richorama I was able to reproduce the issue locally in Azure emulator. Then I replaced the nuget package with the source project directly - the issue was still reproducible. But once I've added the following lines (copied from my grain interfaces project) to the `OrleansDashboard.csproj`, the issue has gone:
[code]

[2016-10-20 18:21] DixonDs commented on #16
In result I've resolved the issue just by adding `Microsoft.Orleans.OrleansCodeGenerator` package to the host project.

[2016-10-21 12:07] #16 closed

[2016-10-21 12:08] richorama commented on #17
Have you tried adding `Microsoft.Orleans.OrleansCodeGenerator` to the host project? It seemed to fix #6.

[2016-10-21 14:57] FranKieCZ commented on #17
Yes, OrleansCodeGenerator is in both Host and Client parts of the project.

Just one note, i'm running it on top of .NET 4.6.1 if it could cause any issues...?

[2016-11-07 11:17] DixonDs opened #18 "Unhandled exception in GrainProfiler causes silo fail"
This is the last log before the silo crashed:
[code]

It seems that unhandled exception in `GrainProfiler.ProcessStats` called on timer caused the whole thing to crash

[2016-11-07 11:28] richorama commented on #18
ok, I'll take a look, thanks!

[2016-11-08 00:53] danvanderboom opened #19 "add virtual streams to the dashboard"
Virtual streams would be a good thing to monitor. Which grains or grain methods are publishing messages to which virtual streams? How frequently are messages being published to each of the virtual streams?

I imagine a list of virtual streams like grain methods all on a page together, with message publish events visualized in the time-series chart, with metrics for number of messages published per

[2016-11-08 00:56] danvanderboom commented on #15
These could be red lines or thin blocks, some very simple visualization of exceptions thrown from grain methods. Some counters or metrics like number of exceptions so far, number of exceptions/second or exceptions/minute, etc. would be good to see, even some kind of chart showing moving average over time of exception frequency... per grain method, overall per grain type, or across the whole system

[2016-11-08 00:57] danvanderboom commented on #19
Track average and total number of bytes/KB for messages sent via each stream. See where the bulk of data is flowing through the system via streams. See when that rises and falls, during various interactions in automated tests, etc.

[2016-11-08 10:23] richorama commented on #18
@DixonDs did you have a particularly large number of silos/grains/uptime?

[2016-11-08 10:34] DixonDs commented on #18
Yes, we had several thousands of activations at the time. So basically we have two issues here - the timeout itself and the silo crash subsequently instead of just ignoring the error. The later one is more critical, we had to disable the dashboard until it is solved.

[2016-11-08 10:41] richorama commented on #18
I have added an exception handler and logging with the latest release (1.3.1) : on this commit https://github.com/OrleansContrib/OrleansDashboard/commit/ebddb5e84e3f2a2a7bdfbd547084d7349e809f27

[2016-11-15 10:35] richorama opened #20 "HTTP Errors"
Return exception information in body when there's an HTTP error

[2016-11-15 13:59] #20 closed

[2016-11-15 17:50] danvanderboom opened #21 "display version of Orleans host with silo identifier"
It would be nice to see what the .NET assembly version is for each silo's Orleans host, to tell at a glance whether all silos are running the same version or not.

[2016-11-15 18:31] richorama commented on #21
Good idea.  Do you know how to get the Orleans version?

Sent from my iPhone

[2016-12-05 17:03] richorama opened #22 "Better support for generic grains"
i.e.

[code]

shows up like

[code]

[2016-12-05 22:31] #18 closed

[2016-12-05 22:40] DixonDs opened #23 "Unhandled exceptions in DashboardController"
Getting this from logs:
[code]

Wouldn't it be better to catch and log exceptions in `DashboardController` without passing them through as unobserved exceptions?

[2016-12-05 22:49] DixonDs commented on #22
Basically it looks like this:

![generic](https://cloud.githubusercontent.com/assets/1036478/20905685/7b6c5e64-bb4d-11e6-8b2f-aeda0d016e3b.png)
i.e. only "0, Culture=neutral, PublicKeyToken=null]]" part is shown

[2016-12-06 09:52] richorama commented on #23
I think this has already been fixed by this commit: https://github.com/OrleansContrib/OrleansDashboard/commit/29f2e81632c36063d2960538984b0ed3129db9e5

[2016-12-06 09:58] DixonDs commented on #23
That commit was included in 1.3.1, right? That is the version we use and see this issue. I think it could be reproduced by adding `Task.Delay` to `DashboardGrain.GetCounters()`. I will try to do it once I get a chance

[2016-12-06 10:07] richorama commented on #23
yes, it should be in 1.3.1. I'll take a look later today.

[2016-12-07 15:15] richorama commented on #22
Related to https://github.com/dotnet/orleans/issues/2358

[2016-12-08 14:08] #15 closed

[2016-12-08 14:09] richorama commented on #22
As of 015d114 generic grains are supported by the dashboard.

[2016-12-08 14:10] #22 closed

[2016-12-08 14:11] richorama opened #24 "Only add the exceptions to the grain graph if there are any"
The red line is annoying..

[2016-12-08 14:30] #24 closed

[2016-12-08 18:41] danvanderboom commented on #21
I was thinking the version of the solution-specific OrleansHost assembly, but version of Orleans would also be useful. Regardless of which Orleans version is referenced by OrleansDashboard, there should be just one version of Orleans assemblies loaded, based on what the main app has specified, right? If that's the case, an expression like this should work:

`typeof(Orleans.Runtime.SiloAddress).Ass

[2016-12-13 13:17] #21 closed

[2016-12-13 19:30] danvanderboom opened #25 "on the grain type page, support higher-density display of (shorter) grain method invocation charts"
With a dozen or two grain methods being called, the beautiful tall charts when combined can create a very long web page which lets the user view only a few grain method call patterns at a time. In Chrome I can zoom in to make things larger, but apparently not smaller.

It'd be great to either display shorter charts, to offer a selection of chart sizes on the page, or to display an initial list of

[2016-12-13 19:35] danvanderboom opened #26 "support custom user ordering of grain method invocation charts"
The order grain methods appear in the dashboard won't match the expectations and needs of developers and IT admins unless they can change it and have those changes tracked by Orleans Dashboard. Some grain methods occur in pairs or larger groups, and some calls or groups of calls are related to different stages of custom business processes. Being able to put those calls in an order that represents

[2016-12-13 19:46] danvanderboom opened #27 "consider adding a single chart that contains activity from all grain method calls"
Seeing all activity for one grain type in one chart could be valuable in understanding grain activity holistically. Even with shorter grain method invocation charts, it's possible not everything in a grain can be represented all at once.

[2016-12-13 19:49] danvanderboom opened #28 "allow users to define new views containing grain method invocation charts from multiple grain types"
For analysis, showing correlations, connections, and cause-effect relationships visually among grains of different grain types.

[2016-12-13 19:54] danvanderboom opened #29 "show grain method invocation activity per grain type (across all methods on each grain) on dashboard home page"
The Orleans home page has two sections: "Grains" with a chart showing number of grain activations over time, and "Silos" with a chart of the number of silos over time.

For each grain type listed, display a short chart of the number of grain method invocations over time for each grain type: the total number of grain method invocations, regardless of which grain method was called.

[2016-12-20 09:04] kianmeng-aft opened #30 "System.MissingMemberException: The server factory could not be located for the given input: Nowin"
Hi,

I have implement Orleans Dashboard for quite sometime and everything is working fine (the last working version is 1.3.4) but recently I upgraded my project to VS2017 and I face the following error
`System.MissingMemberException: The server factory could not be located for the given input: Nowin`

cant seems to find any solution online, please advice.

I am using the  programmatic configuratio

[2016-12-21 15:40] richorama commented on #30
Thanks for reporting the problem.

I can't understand why an upgrade to VS2017 would cause this, but it looks like the `Nowin` library cannot be found.

Are you attempting to use .NET core?

Can you confirm that the Nowin assembly in in the bin folder?

[2017-01-17 13:43] richorama opened #31 "Revise UI"
I'm toying with the idea of switching the UI to an Admin LTE based template: https://almsaeedstudio.com/themes/AdminLTE/index2.html

Would people miss a dark theme?

[2017-01-17 13:44] #23 closed

[2017-01-25 21:53] dsarfati opened #33 "Dashboard Console.Writeline"
Is there a way to prevent the console output? We have removed all of the Orleans log messages from the console since we added a custom TraceListener to use NLog. Once those logs were removed, I noticed that we get a console output every few seconds. I assume this is caused by the dashboard?

`2017-01-25 13:52:07.3060|INFO|Demon.Mission.Host.vshost.exe|[2017-01-25 21:52:07.304 GMT    21	INFO   	100

[2017-01-26 12:16] DixonDs opened #34 "Track OnActivateAsync on the grain view"
Currently methods stats shown on the grain view are not including `OnActivateAsync` which itself could take some time. Is there an easy way to add it and probably `OnDeactivateAsync`?

[2017-01-26 12:21] richorama commented on #34
I don't believe interceptors are called explicitly for OnActivateAsync, so I can't collect this method. I assume it would contribute to the time taken in the first call to the grain.

Is it worth raising an issue on Orleans to see if this is possible?

Sent from my iPhone

[2017-01-26 12:23] DixonDs commented on #34
I think if it is indeed not caught by interceptors (I am not yet familiar with them), probably it would be a good option to have it, so yes

[2017-01-26 12:33] richorama commented on #34
there's already an issue for it here: https://github.com/dotnet/orleans/issues/1871

[2017-01-26 13:12] DixonDs opened #35 "Invalid total request/second values"
It looks like the total requests/second value is the average from individual, per-silo requests/second values. Correct me please if I am wrong, but if one silo gives X requests/second and the other one - Y requests/second, doesn't it mean the totally two silos serve X+Y requests per second?

![rps](https://cloud.githubusercontent.com/assets/1036478/22332387/5bd0adee-e3d9-11e6-9c4a-0fbee45afe00.png

[2017-01-26 13:37] richorama commented on #35
Yes, I think you're right. It's currently the average per silo, but it should be the sum.

I'll fix it.

Sent from my iPhone

[2017-01-31 12:05] alexanderdevoid commented on #31
Yes :D but the theme is pretty sweet. I can live with it.

[2017-01-31 12:08] alexanderdevoid commented on #28
This would be very cool.

[2017-01-31 12:15] alexanderdevoid commented on #19
@danvanderboom Since grain activations can be migrated we would also need to have this data differentiated per silo that the activation was a part of at some point.

This way we can see how each activation contributed to bandwidth consumption of our cluster members.

[2017-01-31 12:41] richorama commented on #35
I have modified this slightly so it says `req/sec/silo`. This won't be that easy to fix because of the way the stats are collected..

[2017-01-31 12:45] richorama commented on #33
@dsarfati this is logged by the management grain in Oreans, which is called periodically by the dashboard to get some of the statistics:

https://github.com/dotnet/orleans/blob/ccc18a820b7157295e03a801606a376ba94a7a46/src/OrleansRuntime/Core/ManagementGrain.cs#L64

Are you able to raise your logging threshold to remove the 'noise' of info messages?

[2017-01-31 12:49] DixonDs commented on #35
It is good as a quick fix, but I think in long-term, the total requests/second value seems to be more informative.

[2017-01-31 12:50] richorama commented on #35
@DixonDs agreed

[2017-02-10 11:59] DixonDs opened #36 "Label for `Orleans.Providers.MemoryStreamQueueGrain`"
Currently grains from namespaces starting from `System.Runtime` as marked as "System grain". I guess we either include also `Orleans.Providers.*` grains to "system grains", or have a separate label for them.

[2017-02-10 12:01] DixonDs commented on #36
I guess similarly about `Orleans.Streams.PubSubRendezvousGrain`

[2017-02-10 12:18] #36 closed

[2017-02-10 12:20] richorama commented on #36
@DixonDs thanks for reporting this. I have changed the logic to any grain starting with `Orleans.` is marked as a system grain.

[2017-02-16 00:12] danvanderboom commented on #28
I almost created a duplicate feature request, but since I provided so little information originally, I'll include my new write up here anyway:

Seeing all the activity across all the methods of a single grain type is great.

Going one step further, it would be nice to place specific methods from various grain types into a single, custom view and to save that (in a list of custom views) as a Testin

[2017-02-23 04:30] dsarfati commented on #33
@richorama I'm not worried about the fact that those are in our logs, im just trying to understand why they show up in the console at all. I added an NLog trace listener and disabled all console logs yet these still show up in the console.

[2017-03-27 07:06] dandago opened #37 "How are the 'tags' implemented?"
Next to each grain type, the dashboard shows what look like tags, e.g. "System Grain" or "Dashboard Grain" (see [screenshot](http://gigi.nullneuron.net/gigilabs/wp-content/uploads/2017/03/orleans-dashboard-3.png)).

How do these work - is it actually possible to tag grains?

[2017-03-27 08:32] richorama commented on #37
Hi @dandago, thanks for the question.

Because the orleans uses grains itself (as does the dashboard) these could confuse the user. Therefore they're marked with the tags, so you can tell they're not part of your solution.

At the moment you can't add your own tags, their just generated by the system by looking at the grain namespace. (i.e. if it starts `Orleans.*` then it's an Orleans grain).

If

[2017-03-27 08:32] #37 closed

[2017-03-27 11:53] richorama opened #38 "Orleans does not always report CPU and Memory usage"
![blob](https://cloud.githubusercontent.com/assets/353138/24355043/54c33908-12ec-11e7-8301-e52338193a17.png)

[2017-03-30 21:50] lwansbrough opened #39 ""unknown comma" on generic Grain"
I have a grain that's defined like `HelloGrain : Grain, IHelloGrain<T, U>` and I receive a console log message: "unknown comma" when this type of Grain is parsed by the `TypeFormatter`. For your reference, this type of generic functionality has been possible in Orleans since 1.4.0.

[2017-03-31 06:50] richorama commented on #39
Good find. I'll fix this next week. I'm away for a few days.

[2017-03-31 20:27] enewnham commented on #33
@dsarfati I have seen this too! I have added this to my orleans silohost which has stopped the messaging. Something to do with nowin or owin self hosting? See [http://stackoverflow.com/questions/17948363/tracelistener-in-owin-self-hosting](url)

This is essentially Orleans Dashboard adding its own Debug.TraceListener, and then outputting it to the console... Here is my temporary fix

[code]

[2017-04-04 12:22] #39 closed

[2017-04-04 12:22] richorama commented on #39
Fixed by release 1.4.3

[2017-04-04 12:41] #33 closed

[2017-04-04 12:42] richorama commented on #33
Thank @enewnham - I have added your line to the dashboard startup. Released as version 1.4.4

[2017-04-04 12:52] #31 closed

[2017-04-04 12:54] richorama commented on #14
Waiting for MetricTracker to leave beta.

https://www.nuget.org/packages/Orleans.TelemetryConsumers.MetricsTracker/

[2017-04-04 21:33] lwansbrough commented on #39
Awesome, thanks!

[2017-04-06 09:51] rikbosch opened #40 "Provide streaming log output per silo"
First of all, nice work on the dashboard!

I think viewing the logs directly in the dashboard is a great approvement.
Maybe stream the logs output through a websocket (like azure streaming log in webapps https://github.com/projectkudu/kudu/wiki/Diagnostic-Log-Stream )

[2017-04-06 09:56] richorama commented on #40
great idea!

[2017-04-07 12:09] richorama commented on #40
implemented in version 1.4.5

[2017-04-07 12:09] #40 closed

[2017-04-08 19:28] creyke opened #41 ".Net Core Compatibility"
To discuss what it would take to make Dashboard compatible with .Net Core.

[2017-04-08 20:30] galvesribeiro commented on #41
To make it work on both frameworks (full and core) the easiest way IMHO is to port the Dashboard to use Asp.Net Core which work on both frameworks. To add react in it, there is a new thing called JavaScriptServices. Just a bunch of boilerplate code that make the mix JS<>.Net easy (https://github.com/aspnet/JavaScriptServices).

[2017-04-08 21:45] richorama commented on #41
The react part can probably remain unchanged, it's all rendered in the browser, and complied by node at build time.

I agree with @galvesribeiro's suggestion about asp.net though. Would be nice to use kestrel.

[2017-04-08 21:52] galvesribeiro commented on #41
AH, keep in mind that regardless of ASP.Net, the dashboard should conditionally (MSBuild condition reference) depends (for now) on Orleans stable release (from nuget.org) and TP release(from myget.org) so it can keep working on both versions of Orleans. Once 2.0 get released, you can get rid of the conditional reference and use only 2.0+ since it will support netstandard.

[2017-04-10 07:57] richorama commented on #41
There is a `netstandard` [branch](https://github.com/OrleansContrib/OrleansDashboard/tree/netstandard) which I managed to get to compile for the dashboard proj. I couldn't figure out how to get the test host executable to work though.

The branch is now a long way behind, so it might be easier to just start again, given the the tooling and frameworks have moved on since then.

I'm quite inexperien

[2017-04-11 12:27] richorama commented on #35
Fixed in version 1.4.6

[2017-04-12 06:26] DixonDs opened #42 "Silo uptime and local time"
The silo uptime time seems to wrong. See the screenshot:
![uptime_time](https://cloud.githubusercontent.com/assets/1036478/24943948/7eaec3b4-1f61-11e7-9927-245703ea3f1c.png)

The screenshot was taken during the deployment when the first silo just restarted. I believe it has to do with the local timezone of the PC where the screenshot was taken - it is UTC+3

It is still 1.3.1, maybe it is not an i

[2017-04-12 08:18] richorama commented on #42
Thanks for reporting, I'll look into it today.

[2017-04-12 13:12] richorama commented on #42
I'm having some trouble reproducing this. Are the silos and browser in different timezones?

[2017-04-12 13:18] DixonDs commented on #42
Yes, they are.

[2017-04-21 00:01] JasonGalea opened #43 "Silo will not properly shutdown if viewing logstream"
**BACKGROUND**

Using Orleans.Dashboard 1.4.7
Using Orleans 1.4.1

**PROBLEM**

The silo will not stop when viewing the log stream page

**IMPACT**

In an automated CI/CD pipeline environment, releases can fail if someone happens to be viewing the log stream.  This is unacceptable.

**STEPS TO REPRODUCE**
1. start silo
2. navigate to the dashboard, any page except 'Log Stream'
3. stop silo
 ==> ob

[2017-04-21 02:17] JasonGalea commented on #43
While I'm not seeing this exception, another colleague in another project has the same issue, however he sees the following exception.  Perhaps this is a place to start looking for the culprit?

[2017-04-21 04:46] richorama commented on #43
Thanks for reporting this. I will investigate later today.

[2017-04-26 11:53] DixonDs opened #44 "Auto-scroll for Log Stream"
First of all, I love this new screen Log Stream, very useful!

There is a minor improvement though that would be useful IMO - auto-scroll the view to show the latest logs always. I guess, it could be either the default behavior or some checkbox at the top

[2017-04-26 11:58] richorama commented on #44
Hi @DixonDs, it should already autoscroll:

https://github.com/OrleansContrib/OrleansDashboard/blob/master/App/components/log-stream.jsx#L12

...so I guess this isn't working for you.

What browser are you on?

[2017-04-26 12:02] DixonDs commented on #44
Yes, it doesn't work in Firefox 53, but works in Chrome.

[2017-04-26 12:04] richorama commented on #44
ah, ok, I'll download FF - thanks

[2017-04-26 13:00] #44 closed

[2017-04-26 13:00] richorama commented on #44
fixed in version 1.4.8

[2017-04-28 05:22] ponsakthi opened #45 "Expose Dashboard via HTTPs endpoint"
How do we securely expose this dashboard from an Azure cloud service using an https endpoint?

[2017-04-28 08:39] richorama commented on #45
Hi @ponsakthi, you can add TLS in the usual way for cloud services: https://docs.microsoft.com/en-us/azure/cloud-services/cloud-services-configure-ssl-certificate

The dashboard also supports basic auth username and password.

I haven't tried it, but you could configure the firewall on the machines to restrict access by IP address: http://fabriccontroller.net/apply-ip-address-restrictions-to-your-

[2017-04-28 08:39] #45 closed

[2017-05-15 15:04] richorama opened #47 "Dashboard throws an exception when hosted in Service Fabric"
[code]

[2017-06-05 15:22] richorama opened #50 "Add a pause button to the trace screen"

[2017-06-05 15:28] DixonDs opened #51 "Add reminders view"
It would be beneficial, I think, to have another tab for reminders where you could see the list of them. Each entry could show the grain type, the grain key, the reminder name, its period and the next fire time. And finally, there could be Delete button to remove the selected reminder - it would be super helpful for orphaned reminders after grain refactoring.

[2017-06-06 09:04] richorama commented on #51
Nice idea.

Any idea how you can query reminders?

[2017-06-06 09:24] DixonDs commented on #51
Not really. I suppose you could use `IReminderTableGrain` (https://github.com/dotnet/orleans/blob/27b2a10a8c0dc44dfe839ae5fa638059828cd747/src/Orleans/SystemTargetInterfaces/IReminderTable.cs) if it was public. I think the best thing to do here is to ask in the main repo how to get that info and/or whether it is possible to make that grain public.

[2017-06-06 11:17] #50 closed

[2017-06-09 09:23] #43 closed

[2017-06-09 09:24] richorama commented on #43
fixed by version 1.4.12

[2017-06-09 09:29] #30 closed

[2017-06-12 09:05] richorama opened #52 "GetRuntimeStatistics Method throws errors"

[2017-06-15 12:08] richorama opened #55 "Document the API"

[2017-06-16 20:33] DixonDs commented on #42
I think in this line https://github.com/OrleansContrib/OrleansDashboard/blob/26c386b295c45f793746f1b1d1141693f3ccc42e/App/silos/host-table.jsx#L23 it should be something like follows:
[code]

[2017-06-16 21:52] richorama commented on #42
My understanding is that `getTime()` gives you a UTC timestamp, but there's obviously something going wrong. Maybe the silo time is in UTC, but JavaScript thinks it's local.

[2017-06-19 12:02] richorama commented on #51
I wonder if there could be a scaling problem, a large number of reminders might kill the UI. Perhaps there is a way of grouping by grain type, or reminder frequency or something? What are your thoughts?

[2017-06-19 12:04] richorama opened #57 "Add reminders summary to the overview page"

[2017-06-19 12:08] DixonDs commented on #51
I was under impression that a large number of reminders is not desirable for the Orleans setup itself, but I think you are right, we need to handle it somehow. Maybe some kind of paging so that we don't return all reminders at once? Also I think the refresh period could be much larger, say once per minute or 5 minutes, or ideally defined by the user choice (a good example is a slider in Service Fa

[2017-06-19 12:39] DixonDs commented on #51
A few more things that would be good to add on top of what was done in https://github.com/OrleansContrib/OrleansDashboard/pull/56 :
1) Add grain implementation or interface type row to the reminders table - it would be handy to track orphaned reminders
2) Add reminders view to the grain page with reminders associated with that grain.
3) Add Delete button to each reminder row.

Shall I add separate

[2017-06-19 13:13] richorama commented on #51
Good ideas.

w.r.t to the delete button, the dashboard (at the moment) is a readonly view, but I'm not opposed to adding a delete button. We could always add a switch to the config to enable/disable this feature.

Happy to keep just this issue for now.

[2017-06-22 05:26] richorama commented on #51
I'm also thinking about a time-based view, like a calendar...

[2017-06-23 12:53] rikbosch commented on #47
I've been looking into a solution for this problem.

When hosted in ServiceFabric there is no membershiptable. SF components are used to determine liveliness of the silo's.

Details of a silo like hostname etc can be provided using a FabricClient, instead of the manager grain.

So, I would like to propose a ```ISiloDetailsProvider``` with one method ```Task<SiloDetails[]> GetSiloDetails()```

The

[2017-06-23 13:14] richorama commented on #47
/cc @ReubenBond

[2017-07-05 11:20] #47 closed

[2017-07-05 12:29] #55 closed

[2017-07-10 23:54] hermancombrink opened #62 "Dashboard startup failing after Orleans 1.5 update"
The log message below is produced after the latest orleans update to 1.5. However copying libuv.dll into the bin directory seems the solve to startup problem as a work around.

`xxx.Orleans.Silo.exe Error: 0 : [2017-07-10 23:51:17.297 GMT    27	ERROR  	10001	Dashboard	127.0.0.1:11111]	!!!!!!!!!! System.AggregateException: One or more errors occurred. ---> System.DllNotFoundException: Unable to loa

[2017-07-11 06:08] DixonDs commented on #62
@hermancombrink Judging from similar issues reported (https://github.com/aspnet/KestrelHttpServer/issues/1625, https://github.com/aspnet/KestrelHttpServer/issues/1652), it looks like it could be related to the mismatch of the architecture of libuv.dll and the target project. Check the linked issues if any suggestions there help.

Otherwise, please provide some info. Do you target x64 or x86? How d

[2017-07-11 07:13] DixonDs commented on #35
@richorama I think there is the same issue on the general grain overview page ("/#/grains"). Shall I open a separate issue?

[2017-07-11 08:26] richorama commented on #35
@DixonDs thanks for reporting, I'll just reopen this one.

[2017-07-11 08:27] richorama commented on #62
I've seen this with other kestrel projects I've worked on, so I wonder if it's an upstream issue?

[2017-07-11 12:02] #35 closed

[2017-07-11 12:04] richorama opened #63 "Upgrade to new invoker API"
...from build:

[code]

[2017-07-11 13:24] rikbosch commented on #63
This is not possible when using a bootstrapperprovider until the silobuilder issue is completed (https://github.com/dotnet/orleans/issues/2936).

see https://gitter.im/dotnet/orleans?at=59635ad197cedeb0482623f3

[2017-07-11 13:28] richorama commented on #63
@rikbosch it could be placed in the extension method:

https://github.com/OrleansContrib/OrleansDashboard/blob/master/OrleansDashboard/ExtensionMethods.cs#L17

[2017-07-11 13:54] rikbosch commented on #63
You don't have access to the servicecollection, which is where the `IGrainCallFilter` should be added. From what I know, the only way is to register a custom StartupType. The dashboard should not override the custom startuptype.

You could add an extensionmethod to use inside the `ConfigureServices` method, but then the dashboard can' t be configured using XML configuration.

[2017-07-16 14:12] shlomiw commented on #62
Hi, I'm having the same issue. How can you still Target AnyCPU where libuv.dll requires x86 or x64?

[2017-07-18 11:23] chris-eaton opened #66 "Dashboard no longer exposes itself on public hostname"
After updating from version 1.4x to 1.5 the Dashboard no longer exposes itself on the public IP / Hostname.

It would be good if it either
[a] exposed itself automatically or
[b] allowed programmatic options to set hostname / ip

[2017-07-19 15:42] richorama commented on #66
@enewnham excellent, thanks for suggesting this. Do you propose that `hostname` could come from a setting? If the setting is not set, default to `http://*:{port}`?

[2017-07-19 15:58] enewnham commented on #66
Yeah, unfortunately without making breaking changes, your options are limited.

`RegisterDashboard(this GlobalConfiguration config, int port = 8080, string username = null, string password = null, string hostname = null)`

But hey, its alpha software, so you could flip it on its head, and go with some sort of fluent configuration

[code]

[2017-07-19 15:59] richorama commented on #66
@enewnham I have gone with the simple solution for now. However, I like the fluent idea. Feel free to create a PR if you feel inclined to add it :¬)

[2017-07-25 10:11] creyke commented on #41
The code is now compatible with .net core via [this PR](https://github.com/OrleansContrib/OrleansDashboard/pull/67) but has separate .sln and .csproj files.

I don't think I'm the best person to tie this into the build and release process for this project... maybe someone familiar with the existing .net framework one could pick this piece up?

[2017-08-06 13:55] vadimkorr commented on #62
Copying libuv.dll (from \packages\Libuv.1.9.1\runtimes\win7-x86\native\libuv.dll) to C:\Windows\System32\ solved my problem

[2017-08-07 10:26] pherbel opened #68 "Orleans Dashboard on Service Fabric Host"
Hi,
I got this when I tested the Dashborad With Orleans on Service Fabric.

How can I solve this issue?

Message": "[Error@127.0.0.1:30068@PID:7208] Caught and ignored exception: System.InvalidOperationException with mesagge: The current membership oracle does not support detailed silo status reporting. thrown from timer callback GrainTimer. TimerCallbackHandler:OrleansDashboard.DashboardGrain->Sy

[2017-08-07 12:09] rikbosch commented on #68
@pherbel
try using
[code]

in your startup.cs / configureservices method in the silo

[2017-08-07 13:02] richorama commented on #68
There was an issue with this that got fixed in the 1.5.0 release I think. Could you confirm which version you're on?

Thanks.

Sent from my iPhone

[2017-08-07 14:23] pherbel commented on #68
DI config was good. Now I don't get Exception.

But I can't access the UI endpoint.

I use this way:

`config.Globals.RegisterDashboard(Context.CodePackageActivationContext.GetEndpoint("OrleansDashboardEndpoint").Port,"admin","mapmatch");`

In service manifest:

`<Endpoint Name="OrleansDashboardEndpoint" Protocol="http" Type="Input" Port="8080" />`

[2017-08-07 16:33] vadimkorr opened #69 "Can't specify IP address along with localhost for config with MembershipTable"
[.NET Framework 4.7, Orleans 1.5, Win10 Enterprise x64]

I'm using the following `OrleansConfiguration.xml` for deploying with the [script](https://github.com/dotnet/orleans/blob/master/misc/scripts/RemoteDeployment/DeployOrleansSilos.ps1).

In order not to change respective addresses on each node of the cluster I put the IP address to `SeedNode` (assuming that `SeedNode` is constant for each node

[2017-08-07 17:39] #69 closed

[2017-08-09 12:30] pherbel commented on #68
I could solve the issue and it was related to #62

[2017-08-09 12:31] #68 closed

[2017-08-09 12:35] pherbel commented on #62
I got the same issue and my workaround was to create Asp.Net Core Service Fabric Service and it will bring the new project system. Then I just changed the project layout back and remove the Asp.Net core files.

It just works.

[2017-08-10 12:09] #41 closed

[2017-08-10 12:10] richorama opened #70 "Publish .net core nuget packages"
I'm not sure quite how to go about this. Any help would be appreciated.

[2017-08-15 21:17] rikbosch commented on #70
Might want to take a look at https://docs.microsoft.com/en-us/nuget/consume-packages/package-references-in-project-files

[2017-08-16 06:45] DixonDs commented on #70
I would be much easier if the Orleans .Netstandard preview package was published on nuget.org, then we could just multi-target and have conditional package references for each platform. Probably that will still work if Orleans MyGet feed is added beforehand on the target machine trying to install the future .netstandard Orleans Dashboard package.

[2017-08-22 22:16] talarari commented on #14
Seems like it left beta

[2017-09-01 10:26] talarari opened #74 "Allow filtering in log stream view"
Having a live tail view like the dashboard has in log stream is awesome.
Problem is its too noisy and its hard to find what you're looking for.
Adding a simple text/regex filter box in the view would make this much more useful.

[2017-09-01 13:04] dandago commented on #62
Same issue here on a brand new Orleans 1.5 Dev/Test Host.

[2017-09-04 09:21] richorama commented on #74
Thanks for the suggestion.

There are a few things you can do currently that might help:

1. Adjust your logging level in configuration.
1. Use the built-in search feature in your browser.
1. Use curl on the command line to stream the log into grep.
1. Copy and paste the whole log stream into your own editor.

However I'll take a look at implementing this feature when I get a chance.

[2017-09-04 11:08] richorama opened #75 "upgrade to orleans 1.5.1"

[2017-09-04 11:09] #75 closed

[2017-10-03 10:54] noobwu opened #76 "Can you support multiple silos in a cluster?"
Can you support multiple silos in a cluster?

[2017-10-03 11:14] richorama commented on #76
@noobwu yes, the dashboard will report on the status of all silos in the cluster, regardless of which silo host you connect to.

[2017-10-03 11:14] #76 closed

[2017-10-03 15:42] noobwu commented on #76
thank you @richorama

[2017-10-24 17:26] amccool commented on #62
is this a problem with the libuv nuget?
![image](https://user-images.githubusercontent.com/191144/31958185-cb3e5478-b8a5-11e7-8b0a-6e2d17315bf1.png)

[2017-10-24 17:53] richorama commented on #62
I think there is, but it's beyond my understanding.

[2017-10-30 13:31] creyke commented on #70
When Orleans is 2.0 we should they do this (it's in beta1 at time of writing).

At 2.0 it will be easy to publish a single standard package which can also be used in full.

[2017-11-14 09:07] talarari commented on #44
a checkbox would be better IMO.
Currently its really hard to use the log stream since if i want to investigate something i have to copy paste the whole view to a text editor, because it keeps scrolling to the bottom and its impossible to scroll back up to look at the error.

[2017-11-14 10:10] richorama commented on #44
@talarari I fixed a bug in b0350caff9be659d878b457f8f0393c02d34408c where the 'pause' button for the log stream could not be seen

[2017-11-15 10:32] SebastianStehle opened #77 "Remove dependencies"
Hi,

it looks awesome. But it would be nice if you can reduce the dependencies.

e.g.

* Use Middleware instead of controller.
* Allow hosting the UI everywhere, when you have at least a IGrainFactory
* Do not host Kestrel in the library.

I have Orleans and WebAPI running in the same process and it would give me much more flexibility if the UI and the statistics grains would be decoupled.

[2017-11-15 15:04] richorama commented on #77
Hey @SebastianStehle,

Thanks for the suggestion. I'm open to PRs if you want to reorganise things, but one thing I'd like to maintain is the 'it just works' approach and keep it as easy as possible to install the dashboard.

I guess some of this could be achieved by making ketrel a configuration option (i.e. you can disable it with a setting).

Curious to hear your ideas...

[2017-11-17 11:23] SebastianStehle opened #78 "Disable Log Stream View"
Is it possible to disable the log stream view.

As far as I understand it, it shows the log of the current Silo only, therefore it is misleading in a multi-node environment.

[2017-11-17 11:30] SebastianStehle commented on #70
I tried to migrate it, but ISiloStatusOracle is internal now :(

[2017-11-17 11:33] richorama commented on #78
Correct. Due to technical limitations it's impractical to bring back log data from all silos. The log does write out the name of the silo which is the source of the log, but perhaps it could be more explicit about this.

It's not currently possible to disable the log stream, but it wouldn't be too difficult to add this feature.

[2017-11-17 11:42] richorama commented on #70
Shall I raise an issue on the Orleans repo?

[2017-11-17 11:50] SebastianStehle commented on #70
I was wrong. It builds now. Very strange.

[2017-11-17 12:04] SebastianStehle commented on #78
I am not sure, if this is still possible with Orleans 2.0 ... because the logging is now part of the DI system and you do not have the same control. e.g. I have replaced the whole logger ;)

[2017-11-20 12:30] talarari opened #80 "Use github releases to share release notes"
I Update the package every once in a while, but i couldn't find release notes anywhere, or at least version tags on the source so i could browse through the commits...

makes it harder to trust the update.

[2017-11-20 13:17] richorama commented on #80
ok, point taken. I'll start adding tags to the source code and making releases if that helps.

In the meantime you can see when the version number changes in this file:

https://github.com/OrleansContrib/OrleansDashboard/commits/master/OrleansDashboard/OrleansDashboard.csproj

The code is released automatically when the version changes.

[2017-11-20 13:17] #80 closed

[2017-11-20 13:52] SebastianStehle commented on #77
Solved in the 2.0 Branch

[2017-11-20 13:52] SebastianStehle commented on #70
Solved in the 2.0 Branch

[2017-11-20 13:52] SebastianStehle commented on #63
Solved in the 2.0 Branch

[2017-11-20 13:52] SebastianStehle commented on #78
Solved in the 2.0 Branch

[2017-11-20 13:52] #78 closed

[2017-11-20 13:52] #77 closed

[2017-11-20 18:30] talarari commented on #80
Great, thaks!

[2017-11-21 07:35] pandear opened #81 "无法加载 DLL“libuv”: 找不到指定的模块"
System.DllNotFoundException: 无法加载 DLL“libuv”: 找不到指定的模块。 (异常来自 HRESULT:0x8007007E)。
   在 Microsoft.AspNetCore.Server.Kestrel.Internal.Networking.Libuv.NativeMethods.uv_loop_size()
   在 Microsoft.AspNetCore.Server.Kestrel.Internal.Networking.Libuv.loop_size()
   在 Microsoft.AspNetCore.Server.Kestrel.Internal.Networking.UvLoopHandle.Init(Libuv uv)
   在 Microsoft.AspNetCore.Server.Kestrel.Internal.Kes

[2017-11-21 09:43] richorama commented on #81
Sorry about this, there appears to be a problem with the kestrel library, it doesn't always use the correct version of libuv.dll.

Try copying the libuv dll into the bin folder (or including it in your project).

see issue #62

[2017-11-21 09:45] pandear commented on #81
thanks very much.

[2017-11-21 09:48] #81 closed

[2017-11-29 09:30] richorama commented on #74
closed by #84

[2017-11-29 09:30] #74 closed

[2017-11-29 09:30] #70 closed

[2017-11-29 21:50] talarari opened #85 "Export metrics to standard metrics systems"
This dashboard is really great for looking at the cluster live, but its not that good at showing historical data and allowing analysis.

I think the best way to achieve this is to just report the metrics to a standard metics system like statsd or prometheus.

I'm working on a pull request to expose a prometheus metrics endpoint.
The basic concept is to just translate the data from the dashboard gr

[2017-11-29 22:20] richorama commented on #85
I agree with your analysis. The aim of the dashboard is to provide the developer a quick overview of the current system, and not attempt to be a Kafka/Grafana etc.

I would be very happy to accept a PR for alternative endpoints.

I assume you're planning on using the existing HTTP endpoint?

There is also a 2.0 branch of you would prefer to target the next version of Orleans.

Thanks!

Sent from m

[2017-11-30 06:32] SebastianStehle commented on #85
I am not sure if this is the responsibility of the dashboard. Orlans already provides extension points for that and it should be easy to graph the data and to push it to Elastic or RabbitMq or whatever.

[2017-11-30 08:49] talarari commented on #85
@SebastianStehle i somewhat agree, but its kind of a gray zone.
I wouldn't want Orleans dashboard to start having multiple plugins to different metrics services,
Since the dashboard is the one collecting the data (profiling grain calls, sampling silos etc), i think it might be a good feature to expose that in some way that does not complicate the api design does not add of a performance overhead.

[2017-11-30 11:39] SebastianStehle commented on #85
@talarari My point is that the dashboard aggregates the metrics in a way that it fits to the needs of the dashboard. This does not mean, that it is sufficient for your needs.

The most important class is:

https://github.com/OrleansContrib/OrleansDashboard/blob/2.0/OrleansDashboard/GrainProfiler.cs

I would just create one object for every grain call, and create a background thread to push it to e

[2017-11-30 18:19] talarari commented on #85
Im fine with the aggregations the dasboard does, i just want to have them historically and in a queryable way.
Again since prometheus is pull based, i dont need to puah anything to elastic/mq etc.
I just need to expose a rest api endpoint.

I can do this in another library by querying the dashboard grain or adding my own grain call interceptor.
I think this might be usefull for other people using

[2017-12-04 12:37] richorama opened #86 "Don't block on the grain profiler"
Avoid `.Result` on this line:

https://github.com/OrleansContrib/OrleansDashboard/blob/master/OrleansDashboard/GrainProfiler.cs#L50

[2017-12-06 22:00] yevhen opened #88 "Blocking call inside Orleans scheduler context"
After some testing we found out that connecting to dashboard trace leads to blocking call inside `DashboardTraceListener`. The `Write` method is void and it actually calls `TraceWriter.Write` which is blocking as well, leading to task blocking alert. Stack trace below (from an earlier release) shows that call is made on Orleans scheduler.

 at System.Environment.GetStackTrace(Exception e, Boolean

[2017-12-07 09:33] richorama commented on #88
thanks for reporting this @yevhen - I'll investigate to see if there is an async alternative.

[2017-12-12 12:15] jokin opened #91 "Dashboard fails on orleans 2 beta2"
They have changed the way to configure application parts, #90 fixes this.

[2017-12-12 16:45] richorama opened #92 "[2.0] Test host does not exit correctly when running on the command line"
in Windows:

[code]

Process does not exit

[2017-12-13 10:10] #91 closed

[2017-12-13 11:09] #86 closed

[2017-12-13 11:09] #88 closed

[2018-01-05 18:47] oreporan opened #100 "1.5.5 version not compatible with .Net version 4.6.2"
[code]

[2018-01-05 19:29] richorama commented on #100
Thank you. I'm looking in to it. I hope to have something next week.

Sent from my iPhone

[2018-01-10 14:44] richorama commented on #100
Fixed in 1.5.6 - sorry about this, the tooling seems to have failed

[2018-01-10 14:45] #100 closed

[2018-01-12 19:40] dsarfati commented on #42
We are running ours in a kubernetes cluster in azure and all of our silos indicate that they have been up for 48 years using 2.0 beta :)

[2018-01-12 21:44] richorama commented on #42
Impressive!

[2018-02-05 14:35] shlomiw commented on #85
@talarari - what eventually did you end up with?
I'm also looking for historical metrics and connect to service such as statsd + graphene, or maybe other 3rd party metrics service.

[2018-02-05 20:39] talarari commented on #85
Unfortunately didn't have the time to complete this

[2018-02-15 15:42] SebastianStehle opened #102 "RC1"
Hi,

have you started to think about RC1? I thought I can make a simple PR, but so much stuff changed, e.g. IStatisticsPublisher and  ISiloMetricsDataPublisher are not supported anymore, but you can get access to them using the IManagerGrain.

[2018-02-15 19:45] richorama commented on #102
No. I haven’t taken a look yet. Will get to it shortly, thanks for the heads up.

Sent from my iPhone

[2018-02-15 20:13] richorama commented on #102
Oh, and PRs are very welcome!

Sent from my iPhone

[2018-02-15 20:16] SebastianStehle commented on #102
Of course, I had the impression that it is a very big change and that it might make more sense when you try to handle this part. But I can help with the new configuration model.

[2018-03-01 16:53] richorama commented on #102
I've started looking, there seems to be quite a few changes...

[2018-03-03 11:26] SebastianStehle commented on #102
Do you need help?

[2018-03-03 16:10] SebastianStehle commented on #102
I see no option right now, to retrieve the counters.

[2018-03-03 16:18] SebastianStehle commented on #102
Sorry, was wrong, you can write a ITelemetryProducer  for that.

[2018-03-03 17:50] SebastianStehle commented on #102
See: https://github.com/OrleansContrib/OrleansDashboard/pull/104

[2018-03-04 11:15] SebastianStehle commented on #85
In Orleans 2.0 there is the TelemetryProducer with implementations for NewRelic and ApplicationInsights. I would just use this.

[2018-03-04 20:03] SebastianStehle commented on #102
Just noticed that this line is wrong: https://github.com/OrleansContrib/OrleansDashboard/blob/master/OrleansDashboard/GrainProfiler.cs#L87

Because Stopwatch.Ticks != DateTime.Ticks (== TimeSpan.Ticks)

https://msdn.microsoft.com/en-us/library/system.diagnostics.stopwatch.elapsedticks.aspx

[2018-03-05 13:17] richorama commented on #102
Awesome work, thanks @SebastianStehle

[2018-03-05 13:17] #102 closed

[2018-03-05 13:29] #85 closed

[2018-03-05 13:32] SebastianStehle commented on #102
NP, I love this project :)

[2018-03-05 13:35] SebastianStehle commented on #92
This is solved. Works very good for me.

[2018-03-05 14:51] SebastianStehle opened #106 "Cleanup Issues"
@richorama Can you cleanup the issues a little bit. I am motivated to improve it and love the dashboard, but I don't know what your focus is.
Do you still want to improve the dashboard for 1.X and make bugfixes?

[2018-03-05 15:19] richorama commented on #92
agreed, this seems to be fixed.

[2018-03-05 15:19] #92 closed

[2018-03-05 15:22] richorama commented on #106
Yes, I'll go through the issues and clean them up.

I think we should sunset 1.x, and just release updates aligned with Orleans 1.x

When Orleans 2.0 ships we should promote the `2.0` branch to master

I'm going to make you an admin on the organisation, feel free to make small contributions directly, but I think we should go through the PR/review process for larger commits.

[2018-03-05 15:24] richorama commented on #106
Thank you BTW for your excellent contributions! I'm a bit stuck for time at the moment as I'm organising a conference in my spare time.

[2018-03-05 15:48] SebastianStehle commented on #42
Solved in 2.0 branch.

[2018-03-05 15:48] #17 closed

[2018-03-05 15:51] SebastianStehle commented on #14
@richorama Can we close this?

[2018-03-05 15:52] #63 closed

[2018-03-05 16:03] SebastianStehle commented on #106
Thank you. What conference is it?

[2018-03-05 16:03] #42 closed

[2018-03-05 16:03] #14 closed

[2018-03-05 16:05] #52 closed

[2018-03-05 16:06] richorama commented on #57
something like '10 reminders due in the next hour'

[2018-03-05 16:28] richorama commented on #106
this one => https://deveast.uk

[2018-03-05 16:49] SebastianStehle commented on #38
Testing it for 2.0, but there is a bug: https://github.com/dotnet/orleans/issues/4129

[2018-03-08 10:21] richorama opened #108 "Improve front end build instructions"
They're hard to follow for non-node people.

[2018-03-08 10:34] SebastianStehle opened #109 "Update Readme for 2.0 branch"

[2018-03-08 10:39] richorama commented on #109
I made a minor change in this commit: 145b930bef2ebacca578fbb46e3a81c009f0bbcf

[2018-03-08 10:39] #108 closed

[2018-03-08 10:45] richorama commented on #109
and here: 783501cfdad0c8a4c9471501b50062372e4d8b8a

[2018-03-08 11:06] SebastianStehle commented on #109
Great :)

[2018-03-08 11:08] #109 closed

[2018-03-13 14:25] SebastianStehle opened #110 "RC2"
@richorama I have seen that you bumped the version. But why not the dependency?

[2018-03-13 14:28] #110 closed

[2018-03-14 01:08] bboyle1234 opened #112 "Dashboard might not have updated references to Orleans rc2"
![image](https://user-images.githubusercontent.com/1445862/37377804-8421817a-2702-11e8-93b6-00098b96f9b1.png)

[2018-03-14 16:06] richorama commented on #112
I'm trying , the build seems to be broken

[2018-03-14 16:11] richorama commented on #112
I'm confused, as .NET doesn't seem to be able to find the right version of OrleansRuntime rc2

[code]

[2018-03-14 16:37] SebastianStehle commented on #112
I pushed an update, which works fine for me.

[2018-03-14 16:43] richorama commented on #112
Thank you! I must have done something stupid.

We need to update the Dashboard nuget package version, would `2.0.0-rc2a` work?

[2018-03-14 16:50] SebastianStehle commented on #112
For the Mongodb provider I just incremented the RC prefix, but it was a bad idea, better to keep it in sync with orleans rc2a is fine for me, or rc2-1 or ... no good idea :D

[2018-03-14 16:53] richorama commented on #112
right, I've bumped it to rc2a

[2018-03-14 17:32] SebastianStehle commented on #38
Solved by: https://github.com/OrleansContrib/OrleansDashboard/pull/113

[2018-03-15 13:32] #112 closed

[2018-03-15 13:42] #38 closed

[2018-04-02 16:16] dsarfati opened #114 "Support for Orleans 2.0 - Released"
I just migrated my project from 2.0-beta3 to the recently released 2.0 👏 . I get an error when trying to start my silo using Dashboard 2.0.0-rc2a. Has anyone been able to successfully add dashboard to 2.0?

[code]

[2018-04-03 13:23] thiagoloureiro opened #115 "ClusterConfiguration not found on v2.0.0 of Orleans"
In Tests Projects TestHost and TestHostSeparate in **(v2.0) Branch**

[code]

This code doesn't work anymore after upgrading the Orleans beta to final v2.0 version.

[2018-04-05 06:15] SebastianStehle commented on #115
@richorama Can you have a look and release the 2.0 package? We should make an CI integration with appveyor and release all tags to nuget.

[2018-04-05 14:26] richorama commented on #114
@dsarfati this should be fixed by release 2.0.0 (PR #116)

[2018-04-05 14:26] #114 closed

[2018-04-05 14:27] richorama commented on #115
upgraded to release 2.0.0 (PR #116). Does this fix the issue for you?

[2018-04-05 15:30] dsarfati commented on #114
Great! Thanks!

[2018-04-05 16:48] thiagoloureiro commented on #115
@richorama  awesome, it's working now, thanks a million!

[2018-04-05 16:48] #115 closed

[2018-04-07 10:26] bboyle1234 opened #117 "Possible bug in 2.0.0 upgrade?"
Following error was observed while referencing the OrleansDashboard 2.0.0 package
[code]

[2018-04-08 02:50] bboyle1234 commented on #117
It worked after upgrading VS2017 to the latest version. I think you're right about it wasn't restoring the package correctly. Thanks.

[2018-04-08 02:50] #117 closed

[2018-04-09 20:41] dandago opened #118 "Orleans 2.0 cannot find grain implementation class when using Dashboard"
I'm getting this exception when the Orleans Dashboard is configured with 2.0:

![image](https://user-images.githubusercontent.com/13241564/38521781-92788ccc-3c3e-11e8-947e-62c160017368.png)

If I comment out `UseDashboard(...)`, it runs just fine. The dashboard seems to be somehow interfering with grain resolution.

Repro project attached.

[Orleans2GettingStarted.zip](https://github.com/OrleansCo

[2018-04-10 09:08] richorama commented on #118
Thanks for reporting @dandago, looking into it now...

[2018-04-10 10:39] richorama commented on #118
Fixed in version 2.0.0 (PR #119)

[2018-04-10 10:39] #118 closed

[2018-04-10 10:40] richorama commented on #118
...although I notice that reminders are returning a 500. I'll investigate that.

[2018-04-10 10:42] richorama opened #120 "Dashboard shows an error (500) when Reminders are not enabled"
version 2.0.1

[2018-04-11 11:41] #120 closed

[2018-04-11 20:16] dandago opened #122 "No CPU/Memory info in with 2.0.1"
Not sure if this is a problem at all, but in the two or three quick samples I built with Orleans 2.0 and the new dashboard over the past few days, I noticed I never had memory or CPU information for the silo.

See this [screenshot](http://gigi.nullneuron.net/gigilabs/wp-content/uploads/2018/04/orleans-start-dashboard-4.png) as an example.

I was running using localhost configuration, so not sure i

[2018-04-11 20:17] dandago commented on #120
Just curious since I observed this problem too, what was the root cause?

[2018-04-11 20:45] SebastianStehle commented on #122
CPU and Memory metrics are only enabled on Windows when you add  the Microsoft.Orleans.OrleansTelemetryConsumers.Counters package. You also have to wait some time, before you can see it.

[2018-04-11 20:46] richorama commented on #120
When the storage for reminders is not configured, any grain which has the IRemindersTable (or similar) service as an argument on the constructor will not get activated. This was the case for the grain the dashboard uses to read the reminders.

[2018-04-12 21:32] dandago commented on #122
Oh! Good to know!

[2018-04-13 06:58] dandago commented on #122
Yes, though I think this should go in the readme. If it's not documented, people are going to be wondering like me.

[2018-04-13 07:34] SebastianStehle commented on #122
Can you make a PR? ;)

Btw: this is not specific to the dashboard, it is the orleans implementation. There is not "common" way to retrieve these information for all operation systems.

[2018-04-17 13:26] NicolaAtorino opened #123 "UnobservedTaskException caught by silo when Dashboard is present"
Hi everyone,
first of all thanks for your amazing contribution to the project.
I am seeing a strange issue with the orleans dashboard : even if the dashboard and the cluster itself works fine, my silo is catching a lot of unobservedexceptions. If i remove the dashboard, the exceptions are gone. This are the messages i find in my logs :

`[2018-04-17 13:12:04.094 GMT     2	ERROR  	100005	Unobserved

[2018-04-17 13:32] richorama commented on #123
Thanks for reporting @NicolaAtorino , I'll take a look in the next day or two.

[2018-04-18 11:57] richorama commented on #123
I have had a play around, and I'm unable to reproduce. Are you able to share any of your code, or provide a minimum example?

[2018-04-23 11:30] Karamell opened #124 "Build fails when OrleansDashboard is combined with F# and paket"
Using F# and with the [paket](https://fsprojects.github.io/Paket/index.html) dependency manager somehow triggers codegeneration errors in the silo build.

```FSC : error FS0226: The file extension of 'obj\Debug\netcoreapp2.0\SiloHost.orleans.g.cs' is not recognized. Source files must have extension .fs, .fsi, .fsx, .fsscript, .ml or .mli. [C:\Users\n23130\src\orleanspaket\src\SiloHost\SiloHost.fsp

[2018-04-23 12:07] richorama commented on #124
Thanks for reporting this @Karamell and for providing a sample.

I think you're running into this problem: http://dotnet.github.io/orleans/Documentation/Advanced-Concepts/Codegen.html#during-build

[code]

One possible quick fix might be to remove the `Microsoft.Orleans.OrleansCodeGenerator.Build` package.

A longer term fix would be for the dashboard to support both codegen methods, I'll look int

[2018-04-23 12:37] Karamell commented on #124
Hi thanks for answering so fast
I am not referencing the `Microsoft.Orleans.OrleansCodeGenerator.Build`. The project is _not_ configured for compile time codegen.

- If I remove `OrleansDashboard` the build works.
- If I replace paket with nuget the build works.

I hoped to be able to combine the two. The quick fix for me is to not use paket.

[2018-04-24 08:01] Karamell commented on #124
Another fix is to remove `Microsoft.Orleans.OrleansCodeGenerator.Build` from `OrleansDashboard.nuspec`. Is it really a required dependency?

[2018-04-24 15:29] richorama commented on #124
I have just tried switched to code gen at initialisation and it didn't work.

[code]
...I'll have more of a play.

[2018-04-26 09:25] richorama opened #125 "Scroll to top when transitioning between pages"

[2018-04-28 13:46] AClumsy opened #126 "【2.0.1】What is the problem? Has been reporting an error?"
What is the problem? Has been reporting an error?
![bxetiz rc0e etbnk hoi6n](https://user-images.githubusercontent.com/28291464/39397177-a1108746-4b2d-11e8-87f0-a656eb8e0d2e.png)

[2018-04-28 14:25] aqa510415008 commented on #126
This error may be caused by this problem [Orleans-4178](https://github.com/dotnet/orleans/issues/4178)

[2018-04-28 20:14] jkonecki opened #127 "Ability to filter out Dashboard grains"
Dashboard grains are included in all the charts / statistics.
I would like to have the ability to exclude them so I can see the metrics for my application only.

[2018-04-28 21:39] dandago commented on #122
Sorry for the late reply - I've been really busy.

I'm afraid I don't have time at this stage. This is a one-liner change and it would take me a lot more time just to go through all the git stuff to do this. It's a lot easier for an existing contributor.

If this remains open for a while, maybe I can give it a shot in a few weeks.

Yes, but given that the dashboard is based on Orleans, any Orleans

[2018-04-30 11:59] richorama commented on #124
There's an update in #128 which may fix this problem. I haven't released to nuget yet, but you can get the package from here: https://ci.appveyor.com/project/richorama/orleansdashboard/build/artifacts

[2018-04-30 12:12] jkonecki commented on #127
I would prefer a switch in the website so I can enable / disable at runtime.

Regex filter would be nice but I would put it as lower priority. TBH,
ability to sort the grains table by clicking on the header would be more
useful.

On Mon, 30 Apr 2018, 12:20 Richard Astbury, <notifications@github.com>
wrote:

[2018-04-30 12:13] richorama commented on #127
Thanks Jakub.

[2018-04-30 12:14] #125 closed

[2018-04-30 12:25] richorama commented on #34
I'm parking this issue, as there's currently no way of implementing it.

[2018-04-30 12:25] #34 closed

[2018-05-02 01:11] aqa510415008 commented on #126
@richorama It seems that I have found a problem, which is the reason I mentioned above.

[2018-05-02 11:37] richorama opened #130 "v1.5 - CPU overhead reported at ~10-20%"
Presents when the dashboard is installed, even when the UI is not running, but only on one node (the one hosting the dashboard grain).

[2018-05-02 14:49] SebastianStehle commented on #130
The Dashboard Grain does probably not use the best data structures, we would need something like a LRUCache instead.

[2018-05-02 15:20] richorama commented on #130
true, we could probably optimise here. although I don't _think_ that there is a huge amount of data in these structures...

[2018-05-02 15:28] SebastianStehle commented on #130
Depends, if you have 1000 calls per second you would  have at least 100.000 entries.

[2018-05-02 15:40] richorama commented on #130
The `history` List will have `100 * SiloCount * GrainMethodCount` entries, which could get you up into the 100,000s range.

[2018-05-02 15:51] SebastianStehle commented on #130
True, have forgotten that they are already aggregated by the interceptor.

[2018-05-02 15:54] SebastianStehle commented on #130
One improvement could be to store all incoming GrainCallEntry's to an internal list and then use a timer/reminder to aggregate these entries into the main history list. It would probably save a lot of allocations, because the list has to be restructured all the time. Also a LinkedList could help. The performance would be more stable if you add more Silos.

[2018-05-02 16:19] SebastianStehle commented on #130
Wouldnt it easier to maintain a dictionary of unique Silo-Methods instead of all the stuff in the Report method?

[2018-05-02 16:40] jkonecki commented on #130
The improvements to the data structures / calculations would definitelly be helpful, but I don't think this is an underlying root of the issue. The calls are reported by dashboard as taking 40-50ms in my case and don't really explain 100% CPU usage on a single vCPU when hosted in Azure.

[2018-05-02 16:42] SebastianStehle commented on #130
But what else could it be?

[2018-05-02 16:45] jkonecki commented on #130
I couldn't see anything obvious when looking at performance results (https://files.gitter.im/dotnet/orleans/qXWn/image.png - with dashboard on left, without on right)
Maybe the way the timings are called / reported (interceptor)? That would explain the slowdown even when UI is not querying.

[2018-05-02 16:48] jkonecki commented on #130
The same slowdown was reported in 2.0:

@bboyle1234

[2018-05-02 16:53] richorama commented on #130
I'm thinking of extracting out the metrics collection into a separate class/classes which can be unit tests and micro benchmarked more easily.

I also think we should be able to turn parts of the dashboard on/off by configuration to help diagnose these kinds of fault.

[2018-05-02 21:57] jkonecki commented on #130
Richard, you may try setting process affinity to 1 or 2 cores in Task Manager. You will see the difference in CPU usage clearly.

[2018-05-03 06:04] richorama opened #135 "Consider percentiles when calculating avg latency"

[2018-05-07 18:34] amccool opened #139 "Silo Health uptime is off in different timezone"
see #42

I need to release to several customers using 1.5.x

[2018-05-07 18:54] zhangalei opened #140 "One of the silo show memory usage -50%"
orleans 1.5.x, 2 silos, One of the silo show memory usage -50%, the other looks normal.

![image](https://user-images.githubusercontent.com/30083114/39719105-d5c7e2aa-51fd-11e8-867f-31755107bbe8.png)

![image](https://user-images.githubusercontent.com/30083114/39719172-0af5a3d6-51fe-11e8-9861-0553c8e34e48.png)

[2018-05-08 11:53] richorama commented on #130
#142 might make some difference to the 1.5 branch

[2018-05-08 12:01] richorama commented on #140
quite impressive! I'm guess that memory available exceeds Int32.MaxValue I'll investigate.

Thank you for reporting.

[2018-05-08 12:53] richorama commented on #139
I'm having some trouble building a nuget package to release this. Are you able to clone the repo and build against the source for now?

[2018-05-08 21:16] jkonecki commented on #130
I did some non-scientific tests with #142 and I cannot see any meaningful improvement :-(
TestHost project (with affinity set to the first 2 cores) - left with dashboard enabled, right without. (No UI running at all)

![image](https://user-images.githubusercontent.com/1775247/39783493-2e345c06-530d-11e8-979a-5af220853602.png)

[2018-05-09 11:40] richorama commented on #130
@jkonecki thanks for testing. I'm also trying it now.

The TestHost.exe does apply a load to the system using a single thread. When I disable this load I see the CPU utilisation fall from ~50% to ~20%.

[2018-05-09 13:51] richorama commented on #130
I have done some profiling work.

There is a performance hit with the dashboard doing continuous data sampling. It asks the management grain and other services for metrics on a 1 second timer.

I'm thinking of slowing down the sample rate for some of the counters, it seems to me that activation counts and silo health don't need to be sampled every second.

[2018-05-09 14:11] jkonecki commented on #130
Is this something which we could enable / disable from the UI?

Jakub

On Wed, 9 May 2018, 14:51 Richard Astbury, <notifications@github.com> wrote:

[2018-05-09 14:45] richorama commented on #130
Perhaps. An easier first step would be to provide some config in C#.

[2018-05-10 11:12] SebastianStehle commented on #130
In 2.0 we already have this setting. We should benchmark it there first.

[2018-05-12 05:22] richorama opened #145 "Add table of '10 slowest calls' to the dashboard home"

[2018-05-15 14:17] #145 closed

[2018-05-24 05:22] dsarfati opened #152 "Call For Requests!!!"
We have 2 React interns that will be spending a month with our team and we are planning on having them work on the dashboard. I would like to get a list of ideas together so we can let them pick a few items to work while they are with us.

So far we have:
- Ability to drill down to a specific grain activation instead of just the grain type
- Sort/filter the grain table
- Call a grain method (simil

[2018-05-24 09:44] richorama commented on #152
Thank you @dsarfati, this is an amazing offer!

Here's a shortlist for some of the UI related issues. Of course I'm open to more ideas.

* #135
* #127
* Consider (investigate) switching the JS build to webpack
* #57 & #51 (various improvements could be made to reminders)
* #26
* #10
* #3 (sorting and filtering grain tables)
* General tidy up of the code

In terms of visualising grains in a graph,

[2018-05-24 09:51] ReubenBond commented on #152
Some random ideas for features/changes - mostly not UI issues
* .NET Runtime version
* Current total/available memory
* Environment variables
* Total set of known grain classes and interfaces on each silo
* Configuration object values
* Loaded assemblies, including paths & metadata (version, etc)
* Historic values / graphs for each counter
* Graph of communications between each grain (eg, by using

[2018-05-24 10:12] SebastianStehle commented on #152
Some ideas (will add more)

* Tracking of activation performance.
* Widgets and custom dashboards.

[2018-05-24 11:30] jkonecki commented on #152
Change the architecture from pull to push - SignalR maybe?

[2018-05-24 12:28] rikbosch commented on #152
An overview of exception rates and top X exceptions per silo / grain / method

[2018-05-31 13:43] michaelgeorgeattard opened #153 "Dashboard is not working when not hosted on /"
Hi,

I hosted as `https://host.com/dashboard` and neither JS resources, nor AJAX call URLs are correct.

I modified `baseHref` to `"https://host.com/dashboard/"` and changed script src from `/index.min.js` to `index.min.js`, and the application more or less worked (apart from `/version` request).

Is support for hosting on something apart from `/` in the backlog please?

[2018-05-31 15:42] richorama commented on #153
commit 1f8fa4a8296dfa81758a18a8dd8a6cf3112d8625 removes the slash from the `/version` request.

I have also adjusted the favicon links.

I have tried this out on the `TestHostSeparate` project, and it seems to work.

If you need this urgently on nuget I can make a release.

[2018-05-31 15:45] richorama commented on #29
There is a summary of all activity on the dashboard home.

There isn't currently a breakdown by grain type, this might be a bit of an overload?

[2018-06-02 15:48] jms69 opened #155 "Add BasePath dashboard option to allow base path such as /dashboard"
I need to have selfhost mode run under a base path of /dashboard because I am fronting the dashboard with a HTTP reverse proxy.  My proxy has mapping the path /dashboard to http://machine:8000/dashboard in order for it to work.

Here is the pull request for the added feature https://github.com/OrleansContrib/OrleansDashboard/pull/154.

[2018-06-02 16:05] SebastianStehle commented on #153
Favicons only work on the root level anyway, I think.

[2018-06-07 10:16] bboyle1234 opened #156 "Grain state output"
Get a list of all the ids of activated grains of a particular grain type.
Select a single grain id to get information about the grain.
Get a json output of the grain's current state?
Get json output of parameterless grain method calls.

[2018-06-07 10:57] richorama commented on #156
Thanks @bboyle1234 for suggesting these ideas.

I'm curious to hear what other people think of these suggestions. They sound extremely useful, my only hesitation is that they're at odds with one of my original objectives with the dashboard, which was to provide aggregated metrics of runtime performance, and not go down to the individual grain level.

However, I think my objective is probably out o

[2018-06-07 10:58] bboyle1234 commented on #156
Exactly

[2018-06-11 12:30] #155 closed

[2018-06-14 07:31] bboyle1234 commented on #156
Another idea: Collecting stats on grain state write times.

[2018-06-25 18:46] SebastianStehle opened #158 "Design Issues"
![image](https://user-images.githubusercontent.com/1236435/41869262-c488dd82-78b8-11e8-953e-fe52757f77ab.png)

Some minor issues:

* The tables (obviously)
* The links in the header (should be vertically aligned).

[2018-06-26 12:20] #158 closed

[2018-06-28 00:38] bboyle1234 commented on #156
Hi @richorama  :)
I'm going to need many of these features soon. Either I'll be coding them in my own (amateurish hacky) way in my grains, or I might be able to code them under your tutelage into the dashboard. Would you like be able to give me some idea of where you're at on this, and whether you might be able to guide me along in upgrading the dashboard?

[2018-06-28 13:21] richorama commented on #156
Hi @bboyle1234 ,

I'm very happy to help to get you started and to help you implement these features.

Could I suggest you shortlist the features you'd like to tackle, or prioritise them, then we can create an issue for each.

We perhaps we could then have a video call to help you get started. Would be nice to open this to anyone interested in contributing.

[2018-06-28 23:10] bboyle1234 opened #160 "Reduce cpu workload when dashboard is not being viewed"
Since the dashboard seems to be fairly intensive, cpu-wise, I thought it might be a good idea to deactivate its workload when there are no administrators actually viewing dashboard pages.
To handle situations where an administrator leaves the dashboard tab open in their browser overnight, it might be a good idea to automatically (if configured) stop serving a dashboard session after a few minutes,

[2018-06-28 23:18] bboyle1234 opened #161 "Stat collection ideas"
Grain state read and write times.
Grain activation and deactivation times.
Recent Orleans errors / warnings.

[2018-06-28 23:19] bboyle1234 opened #162 "Orleans logger output"
Would it be possible to capture and display output generated by the Orleans loggers?
Or ... would it be possible to create a logger whose output is displayed in the dashboard, and make that available to the user for injection.
That way, the entire logger output for each silo would be available via the Orleans dashboard.

[2018-06-28 23:20] bboyle1234 commented on #162
Or perhaps, one would be able to view grain-specific logs ... i dunno, just thinking out loud ... we're already viewing logs in the traditional manner, I'm not sure if anyone thinks this is a good idea. I'm not sure myself!

[2018-06-29 07:20] SebastianStehle commented on #160
What exactly is CPU intensive?

[2018-06-29 07:21] SebastianStehle commented on #162
I think the most people will use a logging infrastructure anyway, like ELK stack or Stackdriver.

[2018-06-30 10:29] ramondeklein opened #163 "Errors when using 'UseServiceProviderFactory'"
I have enabled Orleans dashboard for my host application and I want to use StructureMap as an IOC container. But when I add the following line to my `SiloHostBuilder`:

    siloBuilder.UseServiceProviderFactory(new StructureMapServiceProviderFactory(new MyRegistry()));

Then the following error is emitted over and over again:

    OrleansDashboard.GrainProfiler[100002]
    error recording results

[2018-06-30 12:30] bboyle1234 commented on #156
Hi @richorama, I created a separate issue for the stats ideas yesterday. This thread can be for the grain state ideas listed in my first post.
I suspect I'll be wanting to start work on this in about a week from now.
Thank you for your offer, much appreciated.

[2018-06-30 12:32] bboyle1234 commented on #162
Wow - just saw Stackdriver for the first time - it's what I've been looking for all my life haha! Awesome!

[2018-06-30 12:32] #162 closed

[2018-06-30 12:37] bboyle1234 commented on #160
My grain methods typically take half a millisecond to execute.
I've seen the dashboard grain requests in the DashBoard grain that occur every second from the browser take about a second to complete, according to statistics shown on the Dashboard.
I imagine the 1-second delay is due to cpu work rather than IO operations.
I'll catch a screenshot when I see it again and post it here.

[2018-06-30 12:40] SebastianStehle commented on #160
I think there is still a lot of potential for improvements. We have lots of allocations and O(n) loops. We can also use a faster json serializer.

[2018-06-30 20:37] richorama commented on #160
Very happy to consider any suggestions for perf improvements. I would encourage a 'scientific' approach with some benchmarking.

[2018-07-01 20:59] justmara opened #164 "Dashboard blocks all other TelemetryConsumers"
[this line](https://github.com/OrleansContrib/OrleansDashboard/blob/master/OrleansDashboard/ServiceCollectionExtensions.cs#L37) is a problem.
We have our own telemetryconsumer:
[code]
After adding Dashboard our consumer is never instantiated and metrics are not propagated. This happens because `DashboardTelemetryProducer` overrides default `ITelemetryProducer`'s realization TelemetryManager, that

[2018-07-01 21:08] SebastianStehle commented on #164
Can you make a PR?

[2018-07-02 08:46] justmara commented on #164
here is one :)

[2018-07-02 10:06] SebastianStehle commented on #164
Thank you. I tested it and incremented the version. You should see a new version on nuget.org soon.

[2018-07-02 10:06] #164 closed

[2018-07-02 20:05] justmara commented on #152
Btw. Maybe use something like [AppMetrics](https://www.app-metrics.io/) for stat collection and counts? Current ConcurrentDictionary-based are very limited ;) And using appmetrics one could totally skip hosting dashboard itslef in orlean's host and simply translate metrics to something like InfluxDb or esle, using any dashboard he already uses, but with all the fine-grained metrics from this proje

[2018-07-03 11:07] justmara commented on #152
@SebastianStehle I mean that this project can be pretty easily split into two:
1. collecting data (grain filters and sending metrics to ITelemetryProducer)
2. self-hosted metrics viewer: dashboard host itself and in-memory metrics collection.

First part would be useful when you have any external metrics tracking system and only want to get all the metrics this project provides without re-inventin

[2018-07-03 11:15] SebastianStehle commented on #152
100%, this is what I mean with my last sentence:

[2018-07-03 12:02] richorama commented on #161
Great ideas. AFAIK we're missing the hooks to allow us to collect activation/deactivation times, but perhaps the dashboard could provide a service to allow your grain code to submit these metrics, until a better approach is available.

The current grain profiling code could be tweaked to record error types.

[2018-08-02 15:44] n-sidorov commented on #163
Looks like I have similar issue, but with Grace as IoC container.

[2018-08-02 15:50] richorama commented on #163
Ok, I'll see if I can reproduce it.

On Thu, 2 Aug 2018 at 16:46, Nikolay Sidorov <notifications@github.com>
wrote:

[2018-08-02 15:53] n-sidorov commented on #163
BTW I am not sure this is correct way to log errors.

[code]

This overload is used:
[code]
So in this case exception passed as message argument, but message does not contain any markers for formatting.

[2018-08-02 19:43] richorama commented on #163
you're very welcome to create a PR :¬)

I'll get to it tomorrow otherwise...

[2018-08-03 23:06] Kimserey opened #168 "Method 'Create' in type 'Microsoft.AspNetCore.Server.Kestrel.Transport.Libuv.LibuvTransportFactory' [...] does not have an implementation."
I added the dashboard to my project with `.Dashboard()` on the `SiloHostBuilder` and am seeing the following exception printed in the logs:

[code]

The dashboard is not accessible but I am not sure if this error is the one preventing it to boot.

Setup:
- .NET Core app 2.1
- Orleans 2.0.x

[2018-08-03 23:12] Kimserey opened #169 "HTTPS support"
The current instantiation of the Kestrel host when the dashboard is selfhosted does not seem to provide a way to configure HTTPS.

Are there any plan for HTTPS support or are there any recommendations?

[2018-08-04 08:52] Kimserey commented on #168
Adding the nuget package `Microsoft.AspNetCore.Server.Kestrel.Transport.Libuv 2.1.2` fixes it. But I can't seem to replicate on a fresh project.

[2018-08-04 10:43] jimbobster opened #170 "Not starting in Net Framework 4.7 (but fine in Net Core 2.1)"
Unable to get it working in 4.7 (but fine in Net Core 2.1), All other things being equal.

It looks an awesome dashboard by the way - kudos to the authors !

[code]

Apologies if missed something obvious. More than happy to run more tests

[2018-08-07 15:55] richorama commented on #170
Hi @jimbobster, I just tried it and got it to work. I had to manually copy in the x86 libuv.dll file from the libuv nuget package.

[2018-08-07 15:56] richorama commented on #170
[ConsoleApp2.zip](https://github.com/OrleansContrib/OrleansDashboard/files/2267119/ConsoleApp2.zip)

source code of my working repro

[2018-08-07 18:58] jimbobster commented on #170
Thank you Richard - all working here now, many thanks. btw If you have free choice, i,e, new greenfield development and on Windows - would you choose to go Full Framework or Core at this moment in time for your Silo's (and Dashboard). btw I only switched to the Full Framework due to "Microsoft.Orleans.OrleansTelemetryConsumers.Counters" not liking Core (again apologies if I have missed something.)

[2018-08-07 18:58] #170 closed

[2018-08-08 08:03] richorama commented on #170
@jimbobster I'm no expert, but I would probably choose to go .net core until I found a dependency that I needed that wasn't available (which by the sounds of it, is exactly the decision process you've made).

[2018-08-08 08:07] richorama commented on #169
Hi @Kimserey,

No plans to support HTTPS at the moment. If you look at the TestHostSeparate project you can see how you can start the kestrel host yourself, and add the dashboard as middleware:

https://github.com/OrleansContrib/OrleansDashboard/blob/master/TestHostSeparate/Program.cs

This then gives you full control to add HTTPS, or whatever you want.

[2018-08-08 09:58] Kimserey commented on #169
Thanks!

[2018-08-08 09:58] #169 closed

[2018-08-10 02:53] bboyle1234 opened #172 "Reminders documentation"
This knowledge should be added to the Orleans reminders documentation:

![image](https://user-images.githubusercontent.com/1445862/43936561-5d9737c4-9c9c-11e8-80df-43f80fb6d241.png)

[2018-08-17 13:04] Kimserey commented on #168
I'll close this as it seems to work fine. I'll reopen if I have a concrete sample project with the error.
Thank you.

[2018-08-17 13:04] #168 closed

[2018-08-17 21:14] richorama commented on #152
Hey @seniorquico, apologies, I've just got back from vacation. Happy to arrange a call on Monday, or any other day next week. I'm in the UK so if there's a time when we overlap our working day, that would be great.

[2018-08-17 21:15] richorama commented on #152
awesome to hear you've got some people who can work on this BTW, very exciting.

[2018-08-20 20:42] seniorquico commented on #152
Thanks, @richorama! Happy to find any time that works great for you. We're in the US Pacific time zone. You can reach me at kyle@zapic.com.

[2018-08-24 13:51] richorama commented on #172
Probably best raised in the main orleans repo

[2018-08-24 13:51] #172 closed

[2018-08-24 20:49] richorama opened #173 "Improve development turnaround by loading index.min.js from the disk"
As suggested by @seniorquico

Developing the dashboard can be slow, as you have to restart the C# test host after every change to the JS.

If a index.min.js file exists on the disk, we could pick this up in preference to the embedded file, and save the test host restart.

This time could be further improved if a technology such as webpack was used to build the minified javascript incrementally.

[2018-08-28 17:10] seniorquico commented on #173
It looks like [DashboardMiddleware](https://github.com/OrleansContrib/OrleansDashboard/blob/e5826095a74e5545f87d23d425b5a9211b9711e2/OrleansDashboard/DashboardMiddleware.cs#L279-L284) already tries to load "index.min.js" from disk. I'm now guessing this isn't working due to an issue with my test process's current directory or something. I'll try to step through the middleware to see if I can ident

[2018-08-28 18:05] carloslazo opened #176 "ClusterStats API response has inconsistent number of data points"
ClusterStats fluctuates between 100 and 101 data points. This behavior can be visually seen in all the graphs once it populates the data point entries to 100.

[2018-08-29 08:15] richorama commented on #173
closed by #178 & #175

[2018-08-29 08:15] #173 closed

[2018-08-29 08:15] richorama commented on #10
closed by #177

[2018-08-29 08:15] #10 closed

[2018-08-29 08:16] richorama commented on #26
closed by #174

[2018-08-29 08:16] #26 closed

[2018-08-29 15:47] #153 closed

[2018-08-29 20:57] carloslazo commented on #28
I'll be looking towards working on this specific enhancement soon and looking for more suggestions. Here is a summary of ideas:

-  Place specific grain method charts from various grain-types into a single custom view.
-  Custom views can be named and saved into a list.
- Able to rearrange grain method charts order in custom views.

[2018-08-30 13:10] richorama commented on #28
@carloslazo sounds good to me. I have abstracted out the code that talks to localstorage into a 'storage' module. It will pollyfill if localstorage is missing. I recommend that you use this for persisting your view settings.

This may need a new menu entry. I wonder if there is a way we could make this flexible, and you were able to pick various counters to add there.

My only concern is that of p

[2018-08-30 20:52] carloslazo commented on #28
@richorama Kyle and I spoke more about this topic. Here are some of our thoughts.

Agree about storing client-side. This would keep integrating dashboard into projects simple, and wouldn't have to worry about state/persistence configuration (and implementation differences between storage types).

note, thinking the custom views could even be exported/imported to share across computers and/or with

[2018-09-04 11:26] zhaoqinghai opened #181 "bad request - invalid hostname"
i use asp.net framework and i according the readme.md to write code. when i start silo ,and open url ,it will be wrong

[2018-09-04 14:44] richorama commented on #181
Hi @zhaoqinghai, is it possible to share a minimum reproduction of the fault? Is there a stack trace or more detailed error message?

[2018-09-05 06:38] richorama opened #182 "Consider localisation"
Provide multilingual support in the UI

[2018-09-06 08:43] matteofabbri opened #183 "Dashboard doesn't work on 4.6.2"
Dashboard relays on Kestrel which relays on Libuv which sadly at the moment doesn't work on 4.6.2
Same issue on both packages

Libuv.1.0.0 - No reference is added to project, when is added it fails at runtime
OrleansDashboard.Libuv.1.0.0 - Failed to add reference to 'libuv'. Please make sure that the file is accessible, and that it is a valid assembly or COM component.

How to reproduce:
Checkout

[2018-09-06 08:55] richorama commented on #183
Thanks for reporting this @matteofabbri

I'm not really sure how to progress this, given that it's an upstream problem.

[2018-09-06 09:48] SebastianStehle commented on #183
Good to know. But you can just host it by yourself. There is a sample for that and it is just 20 lines of code or so.

[2018-09-12 09:46] matteofabbri opened #185 "There is any unminified version of index.min.js ?"

[2018-09-12 13:55] richorama commented on #185
Not checked in. Running `npm run watch` will generate an unminified index.min.js and copy it to the TestHost folder to allow development without silo restarts.

[2018-09-12 13:55] #185 closed

[2018-09-17 00:36] bboyle1234 commented on #172
oops! thanks

[2018-09-20 19:52] #183 closed

[2018-10-08 09:56] michaelgeorgeattard opened #191 "Special characters in grain names causing issues"
Given a grain with name: `ContentEntityGrain<TranslationContentModel>`, I am getting `No messages recorded` when going to grain page.

Replicated in `OrleansDashboard` version `2.0.9`.

[2018-10-08 10:03] richorama commented on #191
Thanks for reporting this. I do have some tests for grains that use generics. I'll attempt to replicate.

[2018-10-08 10:27] richorama commented on #191
I can reproduce this fault. I'll take a look at fixing it shortly.

[2018-10-08 10:27] cathy33 opened #192 "2.10 nuget error"
OrleansDashboard 2.1.0  Dependencies has OrleansDashboard.Client
but https://www.nuget.org/packages/OrleansDashboard.Client/  Error 404 - Page Not Found

[2018-10-08 10:36] richorama commented on #192
@cathy33 I can see a project reference to `OrleansDashboard.Client`, but not a package reference: https://github.com/OrleansContrib/OrleansDashboard/blob/master/OrleansDashboard/OrleansDashboard.csproj#L42

Are you seeing an error?

[2018-10-08 10:53] gamecellio commented on #192
I install OrleansDashboard 2.1.0 on visual studio error" not found package OrleansDashboard.Client innuget.org "

[2018-10-08 10:56] cathy33 commented on #192
@richorama I install OrleansDashboard 2.1.0 on visual studio nuget error " not found package OrleansDashboard.Client on nuget.org "

[2018-10-08 10:59] cathy33 commented on #192
![image](https://user-images.githubusercontent.com/16647797/46605486-3f8ced00-cb2c-11e8-8770-9343ba05174b.png)
like this

[2018-10-08 11:05] #191 closed

[2018-10-10 09:17] sundong1982 opened #196 "Is there a dashboard center? All orleans host's data are displayed on a centralized site."
Is there a dashboard center? All orleans host's data are displayed on a centralized site.

[2018-10-10 10:46] richorama commented on #196
Hi @sundong1982 thanks for your question. I'm a little confused about what you're asking. There is a page that lists all silos participating in the cluster. Is that what you needed?

[2018-10-11 12:36] sundong1982 commented on #196
I hope to collect all the silo information of different ClusterId.

[2018-10-11 12:43] richorama commented on #196
The dashboard only reports on the cluster it is hosted within. To see the data for a different cluster, you can connect it's own dashboard.

The dashboard does not support multi-cluster configurations.

[2018-10-11 12:58] matteofabbri commented on #196
We were thinking a kinda similar changes here at the office where we use it.
Splitting computation part and the actual gui to make have one single web application where is possible to monitor all ours clusters

[2018-10-12 09:16] sundong1982 commented on #196
My system with many services, opening their respective dashboard to see it very troublesome.

[2018-10-12 10:15] richorama commented on #196
It would be a nice feature. Any thoughts on how this would work are very welcome.

Sent from my iPhone

[2018-10-12 12:56] matteofabbri commented on #196
@sundong1982 I started to implement it, is relative easy.
Here a working initial stub https://github.com/matteofabbri/OrleansDashboard/tree/master/OrleansDashboard.Center

[2018-10-12 20:32] SebastianStehle commented on #196
I would just host the dashboard in all your clusters and create a simple html page with a few iframes ;) ... Perhaps we could an option to hide the header or so.

[2018-10-14 02:36] sundong1982 commented on #196
thx :)

[2018-10-14 02:36] sundong1982 commented on #196
@richorama thx:)

[2018-10-24 06:01] richorama commented on #196
@matteofabbri your fork is very interesting. It would be good to discuss how we can migrate the functionality upstream.

[2018-10-24 06:03] richorama opened #201 "Fix vulerability"
https://github.com/OrleansContrib/OrleansDashboard/network/alert/TestHost/TestHost.csproj/Microsoft.AspNetCore.All/open

[2018-10-24 12:58] matteofabbri commented on #196
@richorama thanks, for what i see is very easy to develop a web interface to integrate the dashboard into a generic website but after many tries i can say i have no idea oin how to make it generic

[2018-10-24 23:22] #201 closed

[2018-10-26 02:11] richorama opened #203 "2.1.3 won't install because of a missing OrleansDashboard.Client package"

[2018-10-29 02:43] richorama commented on #203
fixed

[2018-10-29 02:43] #203 closed

[2018-10-29 20:38] matteofabbri opened #204 "If there are no reminders, getreminders cause exception"
Fixed in branch

[2018-10-29 22:00] #204 closed

[2018-11-06 07:09] #181 closed

[2019-01-30 17:32] darthkurak opened #208 "SiloOptionsLogger seems to be disabled when .UseDashboard()"
Hi. I noticed that when using Orleans Dashboard, SiloOptionsLogger are not logging any information.
I need just commend out .UseDashboard() to get SiloOptionsLogger back in logging output.
Example:
info: Orleans.Runtime.SiloOptionsLogger[0]
      Configuration Orleans.Configuration.ClusterMembershipOptions:
      NumMissedTableIAmAliveLimit: 2
      LivenessEnabled: True
      ProbeTimeout: 00:00:

[2019-02-01 20:12] PGP-Protector opened #210 "Dashboard Silo won't die."
I'm probably doing something wrong, but this is the issue / bug I'm having.

Using ADO Net Clustering, I can start multiple Silos in my cluster Without Dashboard running.
They spin up find.

If I then have a call that start a Dashboard only silo like this.
`
`ISiloHostBuilder layoutSilo = new SiloHostBuilder()
`    .Configure<ProcessExitHandlingOptions>(options => options.FastKillOnProcessExit = f

[2019-02-03 23:10] richorama commented on #210
thanks @PGP-Protector for reporting this issue with such detail.

I'll take a look into this when I get the chance. Hopefully this week.

[2019-02-06 20:44] SebastianStehle opened #211 "Why do we use code generation?"
Do you remember why we use code generation here:

https://github.com/OrleansContrib/OrleansDashboard/blob/dc349a2e311048dd9272d64b728dfad1b9370ec6/OrleansDashboard/ServiceCollectionExtensions.cs#L21?

[2019-02-06 22:26] richorama commented on #211
I don't know. Perhaps @matteofabbri can help?

This is the commit: https://github.com/OrleansContrib/OrleansDashboard/commit/4a386dca24722e7c137cb50329b9151dcb0e603c#diff-383701f303fce98604400e939185ec10R20

[2019-02-23 19:28] bbougot commented on #211
More details [here](https://dotnet.github.io/orleans/Documentation/clusters_and_clients/configuration_guide/server_configuration.html).

[2019-02-24 09:47] SebastianStehle commented on #211
I thought it only matters when I create my class library and Grains in F# or Visual Basic.

[2019-02-27 07:30] YunTengGroup opened #213 "Error after updating the Orleans version"
After updating Microsoft.Orleans.Server to 2.2.4
An exception occurred while calling UseDashboard
Message:Multiple custom attributes of the same type found

[2019-02-27 08:31] alexmg commented on #213
Here is the exception and stack trace.

[code]

[2019-02-27 08:53] topnotch48 commented on #213
have the same issue in our project :(

[2019-02-27 09:50] richorama commented on #213
Sounds like a serious problem. I’ll take a look tomorrow. PRs are welcome!

[2019-02-27 23:05] richorama commented on #213
tracking issue https://github.com/dotnet/orleans/issues/5398

[2019-02-28 00:06] ReubenBond commented on #213
Fix PR: https://github.com/dotnet/orleans/pull/5407

[2019-02-28 00:55] #213 closed

[2019-02-28 00:57] #126 closed

[2019-02-28 00:58] #62 closed

[2019-02-28 00:58] #130 closed

[2019-02-28 00:58] #139 closed

[2019-02-28 00:58] #140 closed

[2019-02-28 00:59] richorama commented on #213
fixed by version 2.2.4

[2019-02-28 21:53] richorama opened #216 "Include instructions on `SelfHost = false` in readme"

[2019-03-12 08:22] kapcsandi opened #218 "SerializationException"
I've upgraded from 2.1.3 to 2.2.5 the OrleansDashboard package in my silo project. After this, the silo deployment failed with serialization errors, like:

[code]

The workaround that solved this was scaling down the silos to 0 then scaling up again.

[2019-03-12 09:35] richorama commented on #218
Hi @kapcsandi, thanks for reporting this error.

Do you think this is a bug in the dashboard, or is it a side effect of an upgrade process?

Is the error reproducible in any way?

[2019-03-12 09:38] richorama commented on #211
I guess it would be nice to have some F# tests...

[2019-03-12 10:18] kapcsandi commented on #218
In my setup, there are 3 silos in a k8s cluster deployed as a stateful set.
The deployment flow was: silo-2 was replaced w/ the new version, the other silos (silo-0 & silo-1) are waiting until silo-2 comes up and join the cluster.
I think the grain state object (Client.Model.SiloDetails) tried to migrate to the new silo, but it failed because of the missing serialization annotation.
However I didn

[2019-03-25 07:05] SebastianStehle commented on #211
It has been solved now.

[2019-03-25 07:05] #211 closed

[2019-04-10 15:07] jonimec opened #221 "GetReminders returns an empty list while There reminders"
Hey,

I have a problem with getReminders function in the Grain class
for some reason, the function returns an empty list while GetReminder does return a specific reminder (And the reminder is also at the RemindersTable)

Is this a known issue? am i missing something?

Thanks,

Joni

[2019-04-11 08:55] wanton7 opened #222 "Dashboard doesn't work in Chrome, ERR_INCOMPLETE_CHUNKED_ENCODING error is returned"
I'm running OrleansDashboard 2.3.1 in ASP.NET Core 3.0 preview3 with Orleans 2.3. I'm initializing dashboard with
[code]

Chrome browser Version 73.0.3683.86 (Official Build) (64-bit) on Windows 10 returns `Failed to load resource: net::ERR_INCOMPLETE_CHUNKED_ENCODING` when trying to load dashboard from localhost:8080. Dashboard works in Firefox from localhost:8080. Also tried Chrome in incognito

[2019-04-11 10:04] wanton7 commented on #222
Might be related to this https://github.com/aspnet/AspNetCore/issues/8815

[2019-04-11 13:45] SebastianStehle commented on #222
I guess you are on your own for 3.0. I think it is not worth it to spend time for a preview version, but perhaps another contributor has time.

[2019-04-11 22:52] richorama opened #223 "Consider moving all test projects into a test folder"
The project root is getting quite cluttered

[2019-04-11 22:54] richorama commented on #221
Hi @jonimec do the reminders show up in the dashboard?

Are you specifying a page index and size: i.e. `await client.GetReminders(1, 25);`?

Are you able to share a minimum repdroduction of the error?

[2019-04-17 13:02] jonimec commented on #221
I'm not specifing page index and size, i'm using getReminders without any parameters
i was not able to reproduce the problem in a different project, and in the same project i have a different call to GetReminders that does work
for now we use a workaround because of schedule of the problem, so it's not an issue for me anymore, so you can close it

[2019-04-17 13:02] #221 closed

[2019-04-19 10:03] wanton7 commented on #222
Fixed in .NET Core 3.0 preview4.

[2019-04-19 10:03] #222 closed

[2019-04-20 17:52] justmara opened #224 "Release notes, please"
There was already issue #80, but now I see that my project uses 2.2.5, latest is 2.3.1 but there are no any releases nor tags since 2.0.9
Digging trough commits to see whats changed and does it worth updating is pretty boring

[2019-04-26 18:54] Frank-Krick opened #225 "Adding dashboard breaks automatic discovery of grain assemblys"
Adding the dashboard to the silo configuration like this `.UseDashboard(options => { options.Port = 1337; })` breaks the automatic discovery of grains. Creating any of my grains returns the following exception:
[code]

The silo runs fine without dashboard and can create instances of the grains.

[2019-04-26 20:45] richorama commented on #225
Hi Frank, thanks for reporting this issue. Which versions of Orleans and the dashboard are you using?

Thanks,

Richard.

[2019-04-29 15:04] Frank-Krick commented on #225
Hi Richard,

thanks for the quick response. We're using OrleansDashboard 2.3.1 and Orleans 2.3

[2019-05-01 18:30] Frank-Krick commented on #225
I dug a bit deeper. What's happening is that the dashboard registers its assemblies with `ConfigureApplicationParts` which disables the automatic discovery of grains in the project.

I could solve the problem by adding `.ConfigureApplicationParts(parts => parts.AddFromApplicationBaseDirectory())` to the silo configuration to add my own grains back into orleans.

[2019-05-02 05:03] richorama commented on #225
Ah ha, thanks for getting to the bottom of it. Looks like I need to update the documentation (or find a work around)

[2019-05-02 20:43] Frank-Krick commented on #225
I create PR #226 to update the documentation for this issue.

[2019-05-11 12:24] JorgeCandeias opened #227 "Ability to mark certain grain methods as having zero latency"
When using the [reactive caching pattern](https://github.com/dotnet/orleans/tree/master/Samples/2.3/AdHocReactiveCaching), a grain's reactive poll style method can resolve the request *immediately* and *before* is has data to resolve it with. We do this, for example, by returning the `Task` from a `TaskCompletionSource`, which we set at a later time, when we do have data to fulfill it. This makes

[2019-05-11 21:49] SebastianStehle commented on #227
Would it not be easier to customize the grain profiler? https://github.com/OrleansContrib/OrleansDashboard/blob/master/OrleansDashboard/Metrics/GrainProfiler.cs

[2019-05-11 23:29] richorama commented on #227
Hey @JorgeCandeias, thanks for raising this.

I'm not sure if this is the right answer, but to support Orleankka was to add a hook to allow custom method names in the telemetry (all grain methods have the same name in Orleankka). I wonder if we could take a similar approach, perhaps to ignore certain method calls, or to give them a false value for latency.

Just an idea. I'll read up on the patter

[2019-05-12 06:00] SebastianStehle commented on #227
I think what they are doing is the same as long polling. (https://www.pubnub.com/blog/2014-12-01-http-long-polling/)

[2019-05-12 08:24] jkonecki commented on #227
@JorgeCandeias could you please explain what do you mean by 'abnormal latency'?

If the method to start long polling takes 20ms to execute and the actual result will be returned after 5sec than I would expect 20ms to be displayed in the Dashboard. This will allow me to notice any increase in the polling setup time, which I won't be able to do if I if ire that call or modify the latency to 0.

I ha

[2019-05-12 10:00] SebastianStehle commented on #227
My understanding: In long polling the connection can stay open for minutes, but resolving the actual value only takes a few ms. The equivalent of a connection is a method call in this case, which would also show several minutes in orleans dashboard.

e.g.

	public Task<int> GetValue()
	{
	   var tcs = new TaskCompletionSource<int>();

	   this.currentTask = tcs;

	   return tcs.Task;
	}

	public a

[2019-05-12 10:08] jkonecki commented on #227
Wouldn't this block the grain (unless marked as reentrant)?

I would use grain observers (or streams) in this scenario.

On Sun, 12 May 2019, 11:00 Sebastian Stehle, <notifications@github.com>
wrote:

[2019-05-12 10:23] SebastianStehle commented on #227
Yes, this is what the post creator said:

[2019-05-12 10:25] SebastianStehle commented on #227
@JorgeCandeias Given your scenario, I think the best approach would be to have a delegate or attribute to prevent certain methods from being measured and then an implementation of the GrainProfiler that can be injected into your grain. This approach can also be used to measure internal metrics.

[2019-05-12 10:29] jkonecki commented on #227
I'm assuming the grains were marked as reentrant for this very reason.

For me, grain observers would be a cleaner solution and wouldn't require
the whole grain to be reentrant. I tend to avoid reentrancy as much as
possible.

On Sun, 12 May 2019, 11:23 Sebastian Stehle, <notifications@github.com>
wrote:

[2019-05-12 10:57] SebastianStehle commented on #227
You are probably right, but I think that it would be good to have more control over the profiling.

I created a PR for that: https://github.com/OrleansContrib/OrleansDashboard/pull/228

See the example grain how to use it: https://github.com/OrleansContrib/OrleansDashboard/pull/228/files#diff-3a6be28c51a75a182088b16bee7d1069

[2019-05-12 12:03] JorgeCandeias commented on #227
To answer a number of questions in one go:

*Reactive Caching for Composed Services* is a pattern developed at MSR with Orleans in mind.

* Here is the [Microsoft Research page](https://www.microsoft.com/en-us/research/publication/reactive-caching-for-composed-services/) on it.
* Here is the [white paper](https://www.microsoft.com/en-us/research/uploads/prod/2018/10/Burckhardt-Coppieters-OOPSLA201

[2019-05-12 12:04] JorgeCandeias commented on #227
Nice. I'll check this out as soon as I can.

[2019-05-18 16:37] SebastianStehle commented on #227
Can this be closed now, the PR is merged

[2019-05-18 17:04] #227 closed

[2019-05-20 21:15] JorgeCandeias commented on #227
@SebastianStehle Just had the chance to test this, works like a charm, thank you for the PR. 👍

[2019-05-24 14:45] jsteinich opened #229 "Not easy to override GrainMethodFormatter"
When trying to workaround https://github.com/dotnet/orleans/issues/5627, I attempted to override the `GrainMethodFormatter` used by `GrainProfiler`. Since the default is registered [here](https://github.com/OrleansContrib/OrleansDashboard/blob/7d822ddabf6c9c9c4ab0337c5b4d01ad83cc2549/OrleansDashboard/ServiceCollectionExtensions.cs#L62) as just a singleton, I wasn't able to use any of the extension

[2019-05-24 15:35] SebastianStehle commented on #229
PR is welcome. But you just register your implementation after the dashboard, to get it working.

[2019-05-31 03:27] richorama commented on #224
Acknowledged

[2019-05-31 03:27] #224 closed

[2019-05-31 06:18] #223 closed

[2019-06-05 20:01] #229 closed

[2019-06-10 17:30] justmara opened #234 "'TimeSpan overflowed' exception in logs"
We see in logs that Dashboard version 2.3.4 throws periodically:
[code]

[2019-06-12 04:24] lfzm opened #236 "It is recommended that Metrics be independent from OrleansDashboard"
It is recommended that Metrics be independent from OrleansDashboard, create a new OrleansDashboard .Metrics Project, reduce the size of the OrleansDashboard, and separate the UI from the Metrics.

[2019-06-12 05:17] SebastianStehle commented on #236
Who recommends that? ;)

Besides that: The Dashboard creates no new metrics, only single data points and aggregations just for the Dashboard.

[2019-06-13 13:07] keshavraja opened #237 "How to host dashboard on service fabric mesh?"
I am hosting my orleans solution on service fabric mesh, So how do i configure this, i am able to run this locally but once i push code to service fabric mesh.. it is not working.

[2019-06-14 01:12] richorama commented on #237
Hi @keshavraja,

I'm afraid this is not a scenario I have tried personally, but I know people do run this configuration.

Would you mind expanding on the problem?

How is it not working? Is port 8080 not responding when attempting to browse to it?

Is there any information in the log? The dashboard will report problems at startup.

Is the port publicly exposed in service fabric, and Azure?

What v

[2019-06-14 17:38] keshavraja commented on #237
Hello @richorama
I am using OrleansDashborad 2.3.0.

Scenario is,
I have created a Service Fabric Mesh Solution in which I have added Silo as Service fabric service.
port 80 i have used for another service in project, In UseDashborad I have used 85 port number
 .UseDashboard(options =>
                {
                    options.Username = "USERNAME";
                    options.Password = "PASS

[2019-06-19 13:17] Neftedollar opened #238 "Orleankka + Dashboard \n Dashboard can't see methods information"
Hey!
I'm trying to use Orleankka with Dashboard.
I can see methods on the overview page
![image](https://user-images.githubusercontent.com/1009015/59768653-6b609500-92ad-11e9-932e-69c1ec1394d5.png)
[code]
But when I click on this I can't see anything except
```No message recorded```
![image](https://user-images.githubusercontent.com/1009015/59768796-9cd96080-92ad-11e9-8da4-3e80d93bb8a4.png)
What s

[2019-06-19 13:19] Neftedollar commented on #238
I've asked this question in the Orleankka's issues
https://github.com/OrleansContrib/Orleankka/issues/156

[2019-06-19 14:05] yevhen commented on #238
Which version of Dashboard? Orleankka has special [integration](https://github.com/OrleansContrib/Orleankka/blob/master/Source/Orleankka.Runtime/Cluster/DashboardIntegration.cs) with Dashboard if that wasn't broken. You should actually see the name of the messages sent to `ReceiveXXX` methods instead of method names.

Check whether Dashboard still gets from DI the delegate with this [signature](ht

[2019-06-19 14:11] Neftedollar commented on #238
<PackageReference Include="OrleansDashboard" Version="2.3.4" />

@yevhen I forget to mention that I use F# version of Orleankka. Is it usefull?

[2019-06-19 14:26] Neftedollar commented on #238
@yevhen
is this dependency
` services.TryAddSingleton<Func<MethodInfo, InvokeMethodRequest, IGrain, string>>(DashboardIntegration.Format);
` is for delegate `new GrainProfilerFilter.GrainMethodFormatterDelegate` ?

[2019-06-19 14:38] Neftedollar commented on #238
As I understand here is it:
![image](https://user-images.githubusercontent.com/1009015/59774837-d1064e80-92b8-11e9-9bcb-5c8b17f618db.png)
And cropped
![image](https://user-images.githubusercontent.com/1009015/59774986-0d39af00-92b9-11e9-9196-0797ccb25879.png)

[2019-06-20 01:52] richorama commented on #238
I believe that @SebastianStehle has refactored the profiler, so rather then providing a function to format the method name, you can now provide a custom profiler instead.

I think we should re-introduce the method name formatter to maintain backwards compatibility.

[2019-06-20 04:43] SebastianStehle commented on #238
The delegate is still there: https://github.com/OrleansContrib/OrleansDashboard/blob/master/OrleansDashboard/Metrics/GrainProfilerFilter.cs

But `Func<MethodInfo, InvokeMethodRequest, IGrain, string>` is not the same type as `GrainProfilerFilter.GrainMethodFormatterDelegate`

[2019-06-20 05:43] Neftedollar commented on #238
@richorama @SebastianStehle
Where can I find any example of custom provider

[2019-06-21 08:13] Neftedollar commented on #238
@yevhen maybe you have some knowledge or ideas?

[2019-06-21 12:46] yevhen commented on #238
@SebastianStehle can you switch back to `Func<MethodInfo, InvokeMethodRequest, IGrain, string>` since I can't take hard dependency on Orleans Dashboard?

[2019-06-21 12:57] Neftedollar commented on #238
@yevhen
as a fast workaround:
Can you make `Formatter` public? The user will glue you `formatter` with GrainMethodFormatterDelegate by himself

[2019-06-21 15:30] SebastianStehle commented on #238
@yevhen No, but I can support both ;)

[2019-06-21 15:35] SebastianStehle commented on #238
I just realized that `InvokeMethodRequest` is not used anymore. Can we chjangei t to `Func<IIncomingGrainCallContext, string>`?

[2019-06-21 15:40] SebastianStehle commented on #238
I have pushed an update.

[2019-06-21 16:22] Neftedollar commented on #238
@SebastianStehle @richorama @yevhen  Thank you!

[2019-06-24 10:08] richorama commented on #236
@lfzm thank you for suggesting this. As @SebastianStehle says, that dashboard doesn't emit any metrics, it's just a simple aggregator of data that Orleans itself publishes.

[2019-06-24 10:08] #236 closed

[2019-06-26 08:41] Cloud33 commented on #19
It's a great feature.

[2019-07-16 11:57] keshavraja commented on #237
We have decided to move from Service Fabric Mesh to Azure Containers. Orleans Dashboard is working fine there.

Thanks

[2019-07-16 11:57] #237 closed

[2019-08-10 06:19] keshavraja opened #245 "how to change index.min.js path..deploying on nginx"
I am deploying Silo on Nginx, Dashboard page is not loading, it is not finding script.min.js. Is there any way I can change the path of script.min.js?

[2019-08-10 07:41] richorama commented on #245
There’s a setting for changing the path of the whole dashboard, but not the script itself.

Sent from my iPhone

[2019-08-12 03:22] keshavraja commented on #245
I have set BasePath but it is still not finding the script file.
So if my BasePath is https://ipaddress/orleansdashboard/ then it should search for script in https://ipaddress/orleansdashboard/script.min.js  whereas it still looks at https://ipaddress/script.min.js

[2019-08-13 11:46] bddckr opened #246 "Unable to resolve service for type 'Orleans.IReminderTable' while attempting to activate 'OrleansDashboard.DashboardRemindersGrain'"
Looks like Dashboard needs to use `IReminderTableGrain` in Orleans 2.4.0+ now? [Here](https://github.com/dotnet/orleans/pull/5714)'s the PR that changed it AFAICS.
[code]

[2019-08-14 12:23] SebastianStehle commented on #246
Do you have no ReminderTable registered?

[2019-08-14 12:31] #238 closed

[2019-08-14 12:41] SebastianStehle commented on #176
I cannot reproduce it.

@richorama Can you reproduce it or shall we just delete it? Perhaps something old.

[2019-08-14 12:47] SebastianStehle commented on #176
I was wrong. I can reproduce it. I think the whole implementation is buggy, because the it does not return the stats for the last 100 seconds, but the last stats within the last 100 seconds. So If there are data points missing in between, the whole graph fluctuates.

[2019-08-14 12:55] bddckr commented on #246
🤦‍♂ Sorry! I did, but in my working copy I removed the reminder service!

I commented on the PR.

[2019-08-14 13:45] #225 closed

[2019-08-14 13:46] SebastianStehle commented on #152
Can we close this task or create concrete issues?

[2019-08-15 06:17] #210 closed

[2019-08-15 06:18] #176 closed

[2019-08-15 06:18] #234 closed

[2019-08-15 06:19] #246 closed

[2019-08-16 04:50] #152 closed

[2019-08-29 16:37] angerico-carino opened #255 "Exception in TraceHistory: System.InvalidOperationException: Collection was modified; enumeration operation may not execute."
The latest code is throwing the following:
[code]

I assume it is because there is an iteration over `allGrainTrace` in here: https://github.com/OrleansContrib/OrleansDashboard/blob/master/OrleansDashboard/Metrics/History/TraceHistory.cs#L96
And there is a snippet that adds to `allMethods` in here:
https://github.com/OrleansContrib/OrleansDashboard/blob/master/OrleansDashboard/Metrics/History/Trac

[2019-08-29 19:13] SebastianStehle commented on #255
True, it makes no sense. There should be two loops.

[2019-08-31 13:43] SebastianStehle opened #256 "PR check should not create nuget package"
Hi,

when I create a  PR where I increase the nuget package version, the package is published to nuget.

[2019-08-31 21:07] richorama commented on #256
I think I can lock that down in appveyor.

Sent from my iPhone

[2019-08-31 21:17] #255 closed

[2019-08-31 23:15] richorama commented on #256
sorted

[2019-08-31 23:15] #256 closed

[2019-09-26 14:47] SebastianStehle opened #259 "ASP.NET Core 3.0"
If I understand it correctly. ASP.NET Core 3.0 does not .NET Framework anymore and the class libraries have to be written in `netcoreapp3.0` as well.

if this is the case, we should think about how to split up the code, because some classes like NoProfilingAttribute` should also be accessible from NetStandard

I would suggest 2 or 3 libraries

* OrleansDashboard.Core: Everything that is not relate

[2019-09-27 20:21] richorama commented on #259
I agree we should upgrade to 3.0.

I'm not sure in the value of supporting the full .NET framework any more, do people still use it?

@matteofabbri what are your thoughts on the client?

[2019-09-28 08:43] SebastianStehle commented on #259
As Orleans still targets NetStandard2.0, we should do it as well...

[2019-10-01 05:39] SebastianStehle commented on #259
What shall we do now?

[2019-10-01 07:08] richorama commented on #259
I’m in support. Go for it.

[2019-10-01 09:23] SebastianStehle commented on #259
Okay. Btw: The dashboard is already compatible with ASP.NET Core 3.0. It seems that the features we use are binary compatible already. But anyway, we should migrate it. Will do it this week.

[2019-10-01 10:20] petriashev opened #260 "System.InvalidOperationException: Type GenericGrain does not implement interface with id xxx"
See: https://github.com/dotnet/orleans/issues/4233
Problem reproduces when Orleans Dashboard is on.

[2019-10-01 10:32] SebastianStehle commented on #260
But what shall we do?

[2019-10-01 19:08] petriashev commented on #260
Maybe you know workaround or fix?

[2019-10-01 23:09] richorama commented on #260
I've not seen this error. What's the impact?

The dashboard includes a generic grain (as we need to format the type signature) with the test grains, although this shouldn't be showing up when adding the dashboard to another project. Is this what's causing the problem?

The dashboard does of course intercept traffic to generic grains that you may have, is the problem?

[2019-10-02 13:22] #259 closed

[2019-10-02 19:36] petriashev commented on #260
The problem occurs when I try to use generic grain instead of specific. I can create sample with reproduce.

[2019-10-02 20:14] richorama commented on #260
A repro would be great. But if it’s a bug in orleans itself, we might not be able to do much about it here.

Happy to have a go though. :-)

Sent from my iPhone

[2019-10-02 20:30] ReubenBond commented on #260
I have a repro for this in Orleans (see the linked issue). I'll attempt to fix this today

[2019-10-02 20:45] petriashev commented on #260
[OrleansBug4233.zip](https://github.com/OrleansContrib/OrleansDashboard/files/3683236/OrleansBug4233.zip)

[2019-10-02 20:46] petriashev commented on #260
In SiloHost:
// Uncomment and you will get exception in TestClientHostedService.StartAsync (https://github.com/dotnet/orleans/issues/4233)
//.UseDashboard()

[2019-10-02 21:03] SebastianStehle commented on #260
The problem is not the dashboard itself but any feature that make use of `IIncomingGrainCallFilter`. Going to close this issue here as we cannot do anything.

[2019-10-02 21:03] #260 closed

[2019-10-15 17:31] Kritner opened #262 "Am I misinterpreting CounterUpdateIntervalMs?"
Here's my SiloHostBuilder code registering the dashboard:

[code]

However, I'm not seeing a difference on the dashboard in how often it is hitting the grains involved with the dashboard, see the log:

[code]

Is this expected behavior? Am I misinterpreting what this property does?

[2019-10-15 17:32] Kritner commented on #262
Looking further at the grain calls themselves, it seems that it may be only querying the cluster for this information every 10 seconds (as my configuration specifies), is the result then just cached for the 10 seconds the the `GET http://localhost:8081/DashboardCounters` as an example?  Wouldn't it make sense for these two "queries" to be in sync with their following of the `CounterUpdateIntervalM

[2019-10-15 20:28] SebastianStehle commented on #262
It defines how often the raw measurements are aggregated.

[2019-10-16 12:56] Kritner commented on #262
I see, is there a reason that the API hits wouldn't also follow that ms timer?  the data would seemingly not change any time during the 10 seconds of not hitting orleans for the information, isn't that just additional overhead (albeit i'd imagine quite small) by continuing to hit the counter APIs every second?

[2019-10-16 15:08] SebastianStehle commented on #262
Yes, true. PRs are welcome ;)

[2019-10-17 10:19] jam13c commented on #245
I have a similar problem. Silo is deployed to Kubernetes with an ingress path (eg `mydomain.com/orleans-dashboard`) and you can set the basepath to `/orleans-dashboard` but this affects both the mapped path AND the path used for the script import.

Suggestion is to separate these 2 things so you can separately set the mapped path AND the base path for script imports.

[2019-10-17 10:20] jam13c commented on #216
I have successfully managed to do this by examining the code. I am happy to add this to the documentation if you'd like.

[2019-10-18 00:32] richorama commented on #216
Please do!

[2019-10-25 08:47] SebastianStehle opened #267 "3.0 version"
Hi,

are you going to publish the version for 3.0 RTM?

[2019-10-25 12:56] #267 closed

[2019-11-09 15:52] rmja opened #273 "OrleansDashboard.Core 3.0.4 is not on nuget"
OrleansDashboard 3.0.4 [depends on OrleansDashboard.Core 3.0.4](https://www.nuget.org/packages/OrleansDashboard/3.0.4) but [it does not exist on nuget](https://www.nuget.org/packages/OrleansDashboard/3.0.4).

[2019-11-09 16:10] SebastianStehle commented on #273
Thx, I guess there is a bug in the action, will try to fix it.

[2019-11-09 16:18] SebastianStehle commented on #273
Solved

[2019-11-09 18:53] #273 closed

[2019-11-11 02:24] richorama commented on #273
Thanks for sorting @SebastianStehle

[2019-11-11 08:15] SebastianStehle commented on #273
I am an egoist, I wanted to use it myself. ;)

[2019-11-20 09:06] Ulriksen opened #275 "Getting `no messages recorded` when looking at custom grain."
System grains got data, but dashboard will not show data for cusom grain. The grain url in the dashboard starts with a `.` example `/#/grain/.Program.Progress`

Here's a complete code example to reproduce the problem can be found here https://github.com/Ulriksen/fnconf/blob/master/Program.fs

[2019-11-20 09:09] richorama commented on #275
Thanks for the repro, I'll look at this in the next couple of days.

[2019-11-20 09:11] Ulriksen commented on #275
I've tried adding namespace and module to the code, the grain id is now `FnConf.Demo.Progress` but still no data recorded.

[2019-11-20 23:23] richorama commented on #275
Hi @Ulriksen, I have managed to get the code running (I only needed to update the storage connection string). However (as far as I can tell) it doesn't seem to call any grains. My F# skills are extremely primitive, would you be able to alter the sample to build a client and made some calls to a grain? Thank you!

[2019-11-21 07:27] Ulriksen commented on #275
Sorry, forgot to write about that connection string. Once it is running Kestrel will run on ports 5000 (HTTP) and 5001 (HTTPS). You can call it on http://localhost:5000/progress/someUser/someEpisode/12345 to set a "position" of 12345. Giraffe will route this (routef with three parameters, %s is string and %i is integer). This will call the grain and write to the storage. You can then open http://l

[2019-11-22 02:11] #275 closed

[2019-11-22 02:11] richorama commented on #275
Thank you @Ulriksen, this is fixed in 3.0.7

I found the cause, the dashboard code that intercepts the grain call to record the profiling information gets the name of the grain type using `type.FullName`.

When Orleans returns grain statistics it uses an internal method called `GetFullName` to apply additional formatting to this type name.

https://github.com/dotnet/orleans/blob/b279a53197a0de2926

[2019-11-25 02:34] richorama opened #278 "Switch to 'Create React App' / typescript"
Wondering about switching to [CRA](https://github.com/facebook/create-react-app) to simplify the UI build, perhaps switching to TS at the same time?

[2019-11-25 08:29] SebastianStehle commented on #278
Only when you also update the server to serve the scripts from the dev server in dev mode.

[2019-11-25 10:01] richorama commented on #278
I was thinking of using webpack's web server during development, and using CORS to call the dashboard.

[2019-12-02 09:52] justmara opened #279 "Log spam from OrleansDashboard.Metrics.GrainProfiler"
After updating to 3.0.7 our logging subsystem exploded with messages from `OrleansDashboard.Metrics.GrainProfiler` on `Information` level. Those messages contains nothing but grain type name. Looks like the source is [this string](https://github.com/OrleansContrib/OrleansDashboard/blob/445aa125aa76d30da501ab83d244c3dd26e73e08/OrleansDashboard.Core/Metrics/GrainProfiler.cs#L89).
Why it is set on In

[2019-12-02 10:23] SebastianStehle commented on #279
Can you provide a PR? you can also increment version number in this PR.

[2019-12-02 10:50] #279 closed

[2019-12-02 10:50] richorama commented on #279
Sorry, my bad. Fixed in 3.0.8

[2020-01-08 09:38] EranOfer opened #280 "OrleansDashboard not support .NETStandard 2.0"
Hi,
I want to consume OrleansDashboard from  4.7.2.
the problem is the nuspc only target framework NETCoreApp3.0.

![image](https://user-images.githubusercontent.com/13414515/71966940-27ae8800-320b-11ea-987d-7b2a27682c77.png)

# Orleans 3 require .NETStandard 2.0

![image](https://user-images.githubusercontent.com/13414515/71967034-54fb3600-320b-11ea-9ffc-9cc37426cf67.png)

[2020-01-08 09:57] SebastianStehle commented on #280
Orleans Dashboard uses ASP.NET Core 3.0 and it only supports .NET Core right now. If you have a solution: You are welcome :)

[2020-01-08 11:25] EranOfer commented on #280
thanks 👍

[2020-01-08 11:25] #280 closed

[2020-02-28 08:25] lfzm opened #282 "[WIP] Dashboard collection reduces unrelated references"
When Dashboard and Dashboard collection are used separately, many unrelated component references will be added. E.g. `AspNetCore.APP`

You should only need `SiloHostBuilder.UseDashboardCollect ()` when collecting

[2020-03-14 20:13] hotyes opened #286 "Not working with AspNetCoreCohosting example"
I am trying to add dashboard with AspNetCoreCohosting example (https://github.com/dotnet/orleans/tree/master/Samples/3.0/AspNetCoreCohosting), when I try to call my grain it will throw error `Cannot find an implementation class for grain interface: IMyCustomGrain. Make sure the grain assembly was correctly deployed and loaded in the silo.`

I am using default config for dashboard. orleans version

[2020-04-19 07:45] wengxk opened #287 "Please upgrade to netcoreapp3.1. Thanks!"

[2020-04-21 21:26] mchudinov opened #288 "Is it possible to run dashboard outside silo project in an ASP.NET?"
I want to run Orleans dashboard separately from a silo in a separate ASP.NET core3 application:
[code]
I got error:
`System.InvalidOperationException: "Unable to resolve service for type 'Orleans.IGrainFactory' while attempting to activate 'OrleansDashboard.DashboardMiddleware'."
`
Is it possible to run dashboard outside silo project in an ASP.NET core 3 application?

[2020-04-21 21:48] mchudinov commented on #288
I have found the solution. An instance of IClusterClient must be passed to AddServicesForSelfHostedDashboard() method.
[code]

[2020-04-21 21:48] #288 closed

[2020-04-24 16:09] GersonDias opened #289 "[Question] performance counters in a silo hosted in a kubernetes cluster"
when I start my silo in a kubernetes cluster I receive the warning:

```Error initializing CPU & Memory perf counters - you need to repair Windows perf counter config on this machine with 'lodctr /r' command```

there are a way to have those CPU/RAM counters when we running the silo in a Windows container?

[2020-04-24 22:59] richorama commented on #287
version `3.1.0` targets netcoreapp3.1

[2020-04-24 22:59] #287 closed

[2020-04-25 01:40] richorama commented on #289
I'm afraid I don't know the answer to this one. It sounds like a problem with the environment rather than the dashboard itself?

[2020-04-29 00:22] GersonDias commented on #289
yes, not related to the dashboard itself, but hoping someone have some guidance on how to properly run those counters in a kubernetes cluster running windows containers...

[2020-04-30 05:53] gparissis opened #291 "Custom grain names"
Just a thought now that i have created my application and i see many grains loaded.
Is it possible to have a custom grain name reported on the dashboard? For example i see IVendorGrain, but i would prefer if i had the option to change the name to something else not related with the code semantics, like "Vendors"
The same could be applied when i click on a grain to see the functions performance. So

[2020-04-30 06:39] richorama commented on #291
Yes, I believe that if you register an implementation of `GrainMethodFormatterDelegate` then you can customise the method names.

[2020-04-30 07:12] SebastianStehle commented on #291
No, thats only for the method names. So far there is nothing.

[2020-05-01 15:46] gparissis commented on #291
I have searched for GrainMethodFormatterDelegate but i wasn't able to find any example or how-to. Can you please provide me with a link or can you give me a very basic example?

Thank you.

[2020-06-01 15:47] bartziengs commented on #286
I faced something similar. If you look in the readme it says:
"Please note, the dashboard registers its services and grains using ConfigureApplicationParts which disables the automatic discovery of grains in Orleans. To enable automatic discovery of the grains of the original project, change the configuration to:"

Try adding the applicationparts (either from from basedirectory or load an assembly

[2020-07-09 09:53] sjbthfc2 opened #292 "Using Dashboard in Docker Container"
Hi,

I am trying to use the dashboard in a silo running in a Docker Container as part of an ASP .NET Core 3.1 Web API process. Using the Docker features in Visual Studio, I have a Docker file which exposes port 8080. When I try and access the dashboard through http://localhost:8080 I just get connection refused.

It runs fine if I run it outside of the Container. Is there anything else I need to d

[2020-07-09 10:29] richorama commented on #292
Hi @sjbthfc2 , thanks for your bug report.

I assume you're mapping the ports through from the container correctly?

I don't know of any particular setting you need to set for running inside a container I'm afraid, and it's not a configuration that I test.

[2020-07-09 14:27] sjbthfc2 commented on #292
Hi,

It is working now, it was my mistake. I see now in Visual Studio that exposed ports get mapped to ports selected by VS when you run the project in a container. I am going through the correct port now from localhost as mapped by VS.

Thanks

![image](https://user-images.githubusercontent.com/3796984/87051224-35af8680-c1f7-11ea-8245-2f4c4292488c.png)

[2020-07-09 14:27] #292 closed

[2020-07-09 16:58] richorama commented on #292
Great, glad you got it working! 😃

[2020-08-19 14:33] DiAifU opened #295 "DisposeAsync not handled properly in Orleans 3.2.2"
Hi,

I just tried updating to Orleans 3.2.2 from 3.1.6, and I am getting errors during silo shutdown with this exception :

[code]

It was working fine before. Has anything changed in 3.2.2 or any recent versions regarding DisposeAsync ?

Thanks for your help !

[2020-08-19 14:34] DiAifU commented on #295
This issue was for Orleans repo, closing this.

[2020-08-19 14:34] #295 closed

[2020-10-07 05:25] #127 closed

[2020-10-07 07:52] richorama opened #296 "default the colour theme based on OS preference"
https://gosink.in/javascript-css-toggle-dark-light-theme-based-on-your-users-preferred-scheme/

[2020-10-09 10:11] #296 closed

[2020-12-15 09:23] shersh commented on #282
Hello!
Any new about this issue?

[2021-01-31 12:41] maurosbarigia opened #299 "Remove dependency from online font, CSS and JS"
I've tried using this library from a protected environment (i.e. with no access to the internet) and the Dashboard works but looks ugly (it can't download font, css and js from internet). I'm not a React expert, but I reckon it should be possible to embed all needed resources when building the UI. Any plans in that direction?

[2021-02-03 09:46] richorama commented on #299
Hi @maurosbarigia this is certainly possible, although not something currently planned. Out of curiosity, if this is a priority, would it be a feature you would be willing to sponsor, or subscribe to a 'premium' version for?

[2021-02-03 14:48] maurosbarigia commented on #299
Hi @richorama - I'm still in the "proof of concept" phase, so this is still just a personal initiative to increase the chance of giving Orleans a try in the company, and the Dashboard would be a nice plus in the demo. Thinking of a 'premium' version, I reckon the Dashboard will be used mostly for the development phase, and an integration with Prometheus will be needed for production, but I guess I

[2021-03-08 22:52] alexanderfedinatnasa opened #302 "Add https and make it be co-hosted with ASP.NET"
Subj.

[2021-03-10 06:27] richorama commented on #302
Hi @alexanderfedinatnasa,

The dashboard can be hosted by asp.net core, and is added via middleware. This should allow you to configure HTTPS for it.

You can turn off the self hosting when configuring the dashboard:

[code]

Please see this test application as a complete example:

https://github.com/OrleansContrib/OrleansDashboard/blob/master/Tests/TestHosts/TestHostSeparate/Program.cs

[2021-03-10 06:27] #302 closed

[2021-06-03 07:07] idanbenyehoshua commented on #216
@jam13c
I'm trying to self host the Orleans dashboard under ASP.NET CORE application but unfortunately without success.
I tried to use several APIs.. its doesn't work.
Can you please shared some code?
Thank you!

[2021-06-03 07:11] richorama commented on #216
Take a look at this sample: https://github.com/OrleansContrib/OrleansDashboard/blob/master/Tests/TestHosts/TestHostCohosted/Program.cs

[2021-06-03 08:10] idanbenyehoshua commented on #216
I just found it, configured in my project and it's works!
Thank you.

[2021-06-25 11:23] keshavraja opened #307 "Deployment on AKS"
I am trying to deploy the dashboard on AKS but having hard luck. Anyone who has deployed on AKS.

[2021-06-25 11:41] SebastianStehle commented on #307
No, but on kubernetes on GCE. What is the issue?

[2021-06-28 05:17] keshavraja commented on #307
I am getting 502 gateway error, I am using the following code
 siloBuilder.UseDashboard(options =>
                        {
                            options.Username = XXXXX;
                            options.Password = XXXX;
                            options.Host = "*";
                            options.Port = 80;
                            options.HostSelf = true;

[2021-06-28 05:29] richorama commented on #307
@keshavraja try switching `HostSelf` to 'false'. That flag is used to indicate that you want to add the dashboard to your ASP.NET middleware, and not have it start itself as a web server.

[2021-06-28 12:25] keshavraja commented on #307
Yes, I have tried that and getting the same error. I am attaching my ingress service screenshot, the IP is properly bound and the service is also running. But when I am pulling the dashboard I am getting a 502 error.
![image](https://user-images.githubusercontent.com/12935521/123635798-b4069d80-d839-11eb-9109-1d18d68f0a5a.png)

[2021-06-28 15:51] SebastianStehle commented on #307
Can you run it locally? When it works, then it is a kubernetes issue and we cannot provide support for your special deployment scenario. The kubernetes is just a normal asp.net core / kestrel setup.

[2021-06-29 04:01] keshavraja commented on #307
Thank you @SebastianStehle, I will try setting up Kubernetes locally and see it is working.

[2021-06-29 05:45] SebastianStehle commented on #307
I within with the debugger and kestrel. Perhaps you have forgotten a port mapping or something like this. If  it works with Visual Studio it has something to do with your setup

[2021-07-14 17:20] SebastianStehle opened #308 "Dashboard behind firewall"
Hi,

I am using Orleans Dashboard for Squidex, a headless CMS, and I have a request from a user, who runs Squidex in a corporate environment with strict firewalls. I have seen it before, that CDNs are often blocked.

If I would provide a PR to host the files locally, how would you prefer it?

1. Just integrate the files as resources into the assembly and load from there?
2. Option 1, but which a o

[2021-07-14 18:06] richorama commented on #308
Hey Sebastian!

Option 3 is my preference. If we could have a separate nuget package for the offline resources if needed it would be the best of both worlds. Happy to help out on this if needed.

[2021-07-14 19:32] SebastianStehle commented on #308
I think it is relatively straight forward. I am going to introduce an interface for that to call in the middleware. The default implementation is just going to do a redirect to a CDN then and then another implementation which loads the resources from embedded resources.

[2021-07-15 05:00] #299 closed

[2021-07-15 05:00] #308 closed

[2021-07-15 05:26] SebastianStehle opened #310 "Update Nuget Key"
Can you check the API Key for Nuget`? There is an error in the action log.

[2021-07-15 05:41] richorama commented on #310
I think it just needs the version number bumping up, I'll do that shortly.

[2021-07-15 05:52] SebastianStehle commented on #310
I have done that. But there is this in the log:

[code]

I think uploading an existing version is a 409.

[2021-07-15 05:59] richorama commented on #310
I have created a new API key, and re-run

[2021-07-15 07:01] SebastianStehle commented on #310
I have added the push of the new package and get this error now:

[code]

I think you have to extend the scope of the API key.

[2021-07-15 07:13] richorama commented on #310
I have updated the scope of the key and re-run the action...

[2021-07-22 17:37] SebastianStehle commented on #310
I have pushed a bugfix for silo counters that must have been there since 6 month now. But it throws an error in the pipeline:

[code]

I don't get it, because I do not see this version.

[2021-07-23 06:43] richorama commented on #310
It looks like the GH action is publishing it twice
[code]

[2021-07-23 07:04] richorama commented on #310
I think the `dotnet test` command it building the package for debug, the `dotnet build --configuration Release` command is then building for release. So you get two copies of the package.

I wonder if a simple solution is to change the nuget publish command to something like this:

[code]

[2021-07-23 09:48] SebastianStehle commented on #310
Should be

[code]

[2021-07-23 15:34] #310 closed

[2021-07-27 10:42] wangjia184 opened #312 "Dashboard crashed occationally"
[code]

[2021-07-29 19:59] SebastianStehle commented on #312
I have seen it as well. I will provide a fix soon. It is a race condition.

[2021-07-30 15:19] #312 closed

[2021-07-30 17:39] ScarletKuro opened #314 "Log stream doesn't work when using serilog"
I added serilog to my project and noticed that log stream doesn't work anymore. Just getting "connecting..."
When I removed serilog for testing purpose the log stream was working again.

If repro repository will be necessary let met know.

[2021-07-31 20:29] richorama commented on #314
Thanks for reporting this, I will investigate.

[2021-08-13 14:49] mhertis opened #316 "System.OverflowException: TimeSpan overflowed because the duration is too long"
Our silo is crashing with the following exception in Windows Event Log.

CoreCLR Version: 4.700.19.56402
.NET Core Version: 3.1.0
Description: The process was terminated due to an unhandled exception.
Exception Info: System.OverflowException: TimeSpan overflowed because the duration is too long.
   at System.TimeSpan.Subtract(TimeSpan ts)
   at OrleansDashboard.DashboardTelemetryConsumer.ComputeDe

[2021-08-15 18:18] SebastianStehle commented on #316
PR is welcome ;)

[2021-08-18 06:28] mhertis commented on #316
Ok, will try to make it next week ;)

[2021-08-18 11:18] koenbeuk opened #317 "Client is not initialized. Current client state is Created with the new Minimal api's"
Using the new minimal API's does not seem to work when cohosting with Orleans Dashboard using an IHostedService as a way to establish a connection to the cluster:

[code]
The problem is that `app.Run` will construct an instance of `OrleansDashboardMiddleware` which in turn creates a new `DashboardClient`  which then in turn calls into grainFactory which causes this exception.

~Either the Dashboar

[2021-08-18 12:03] richorama commented on #317
Hi @koenbeuk, thanks for reporting this with such excellent detail!

A PR would be very welcome. It would be awesome to have a minimal API example as one of the test hosts (or even as part of the readme!).

[2021-08-22 11:00] Expecho opened #319 "Synchronous operations are disallowed. Call WriteAsync or set AllowSynchronousIO to true instead."
I am running the dashboard cohosted in my .Net 5.0 application but the log stream isn't working. I get the exception stated below. Has anyone experienced this before and knows a solution? I am running the code inside a pod on an AKS linux node. When I run the code using the debugger it works just fine.

System.InvalidOperationException:
   at Microsoft.AspNetCore.Server.Kestrel.Core.Internal.Http.

[2021-08-22 15:44] koenbeuk commented on #317
Given that we already have a minimal api sample and that hostedservices in combination with minimal apis are being tracked by a [separate issue](https://github.com/dotnet/aspnetcore/issues/35454). I suggest we close this issue.

[2021-08-22 15:44] #317 closed

[2021-08-22 19:59] koenbeuk commented on #319
I would assume (have not yet tested it myself) that this issue is related to this issue: https://github.com/dotnet/aspnetcore/issues/7644

[OrleansDashboard.Implementation.TraceWriter](https://github.com/OrleansContrib/OrleansDashboard/blob/master/OrleansDashboard/Implementation/TraceWriter.cs) implements the `IDisposable` interface which in turn encapsulates a `StreamWriter` which flushes when be

[2021-08-22 20:18] Expecho commented on #319
@koenbeuk I had the same idea, made the same changes in my fork and tested it. The error has gone but I was still unable to get the streaming logs working. It now just fails without any error at all. Got a html response that says the service is not available.

[2021-08-22 20:31] koenbeuk commented on #319
@Expecho That seems like an IIS generated 503 error. mostly caused because downstream services were unavailable. I suspect that  your dotnet host application contains additional logging... Are you able to share? and Ideally, are you able to share a repro?

[2021-08-23 05:28] #319 closed

[2021-08-23 06:45] Expecho commented on #307
@keshavraja I do have it running, but not as a standalone pod. The dashboard is cohosted with an asp.net web project.

[2021-08-23 06:50] Expecho commented on #319
@koenbeuk  I think I found the problem: if I scale the deployment down to 1 node the dashboard starts working. As soon as I scale out to 3 nodes it fails. Is the dashboard not meant to be deployed as a multi-node system?

[2021-08-23 07:08] richorama commented on #319
@Expecho The dashboard is designed to function as a multi-node system. Exactly the same configuration should be applied to every silo in the cluster. Curious that the dashboard is failing to work when scaling. Are you seeing any additional logging?

[2021-08-23 08:58] Expecho commented on #319
@richorama  I think it is related to the way we expose the dashboard. We run the app in AKS with an Azure Application Gateway in front of it. The logs in AKS show a 200 but the logs of the gateway show a 503. I will play further with the configuration but as it is now, I don't think the issue has anything to do with the actual dashboard itself.

@richorama @koenbeuk  Thanks for helping me out!

[2021-08-24 07:57] keshavraja commented on #307
I got this running. There was an ingress routing issue at my end. Thank you !!

[2021-08-24 07:57] #307 closed

[2021-08-24 13:29] KSemenenko opened #322 "Kubernetes perf counter"
Hi all!
Does anyone know a way to get performance information in Kubernetes?
<img width="1538" alt="Screenshot 2021-08-24 at 15 27 46" src="https://user-images.githubusercontent.com/4385716/130624971-f4d16a50-787e-4566-b70b-70e3b27b8d88.png">

[2021-08-24 13:42] richorama commented on #322
Hey @KSemenenko,

Have you tried adding the linux telemetry consumer?

[2021-08-24 14:27] KSemenenko commented on #322
I have this two

[code]

and this one
[code]

so, I add this line  siloBuilder.UseLinuxEnvironmentStatistics() and it works!!

Thanks a lot!!

[2021-08-24 14:27] #322 closed

[2021-10-04 10:55] ScarletKuro commented on #314
Found the solution, idk why I thought about it only now because the problem is in the loggedprovider and it should be obvious, but yea.
Looking at Serilog api we can see
[code]
Default `writeToProviders` is `false`, setting it `.UseSerilog(..., false, true)` fixes the problem.
@richorama I will close the issue, but I think this can be added in documentation.

[2021-10-04 10:55] #314 closed

[2021-10-18 15:22] marcin-synak opened #323 "DashboardMiddleware is dependant on open silo connection unnecessarily"
My silo is configured with `HostSelf = false` option
I am hosting the dashboard as a part of separate, larger ASP.NET Core application.

I've mapped the dashboard in `Startup.Configure` of my ASP.NET application like this (following the "TestHostSeparate" example:

[code]

**What is the problem?:**
In such configuration, my ASP.NET application fails to start if connection to silo cannot be establi

[2021-10-18 17:37] koenbeuk commented on #323
@marcin-synak

This would be a bug in Orleans, as the `IClusterClient` is guaranteed to eventually restore the connection. I don't think we need any type of special handling in this project. It may be a good idea to capture the `SiloUnavailableException` and report a 503 (Service Unavailable) http response from the dashboard request.

[2021-10-18 17:38] koenbeuk commented on #323
I've implemented a fix for this issue before and am using it with success in one of my projects. I will tidy it up and issue a PR shortly

[2021-10-19 10:38] koenbeuk commented on #323
I would argue that this not relevant in regards to this project. No where in the Orleans documentation does it deal with additional `IClusterClient` instances. There is always just the single instance and if you need to deal with initial connection issues then you can implement a retry filter (added in this [PR](https://github.com/dotnet/orleans/pull/4161) and briefly mentioned in the [docs](https

[2021-10-19 11:11] marcin-synak commented on #323
@koenbeuk
Retry filter with indefinite retries helps, but still, I cannot call `client.Connect` in `Startup.cs`. My whole application cannot wait for the silo to start. Dashboard is just a tiny part of it.

That is the whole point of this issue - to initialize the connection when middleware is invoked, not constructed. Your fix just improves error control.

BTW, `IClusterClient` and `IGrainFactory

[2021-10-19 11:56] koenbeuk opened #325 "The dashboard is hammering the server with overlapping requests"
The dashboard has a multiple recurring calls that refresh data. These calls do not consider the previous outcome and therefore may overlap. This can cause server-side load issues, e.g. when the server or cluster is busy- or when the cluster is (temporarily) unavailable.

Ideally, these recurring calls should wait for the previous call to have completed. I will issue a PR when I" have time availabl

[2021-10-19 12:24] marcin-synak opened #326 "Log stream and HostSelf = false"
Is it possible to get Log Stream if dashboard is hosted in a separate application?
I'm guessing not, since all examples explicitly hide it using `HideTrace = true` option.

I tried enabling it on both silo and dashboard app but all I get is the header and "You are connected to the Orleans Dashboard log streaming service" message.

When dashboard is hosted together with silo, log stream works witho

[2021-10-26 04:28] ElderJames opened #328 "Add an option to hide the left menu"
I would like to embed the dashboard into my page via an iframe, but would like to use my own menu. Hopefully the dashboard's menu can be hidden through configuration.

[2021-11-10 13:58] #328 closed

[2021-11-10 14:02] SebastianStehle commented on #323
If you wanna fix this I would implement something like IGrainFactory provider to have the indirection you need.

[2021-11-10 14:11] SebastianStehle commented on #316
It has been fixed now.

[2021-11-10 14:12] #291 closed

[2021-11-10 14:13] SebastianStehle commented on #282
It has no priority.

[2021-11-10 14:13] #282 closed

[2021-11-10 14:13] SebastianStehle commented on #218
I am going to close it. It is just too old.

[2021-11-10 14:13] #218 closed

[2021-11-19 07:41] NigelYu opened #330 "When publishing to docker, there is an error in the picture"
![image](https://user-images.githubusercontent.com/4321593/142585047-7968f8de-ae56-4783-9049-a2233df6a5f6.png)

After I removed the Dashboard, everything worked fine；

![image](https://user-images.githubusercontent.com/4321593/142586514-f277a863-bfc5-417b-a701-0cf51f34a86e.png)

[2021-11-19 08:13] SebastianStehle commented on #330
Are you running it with .NET6.0?

[2021-11-19 13:41] #323 closed

[2021-11-19 13:42] richorama opened #331 "Missing icons"
i.e. fa-tachometer

[2021-11-22 23:16] NigelYu commented on #330
used .Net 5 @SebastianStehle

[2021-11-22 23:22] NigelYu commented on #330
I use VisualStudio to generate a mirror image, and then deploy to docker, there will be such a problem

[2021-11-26 01:06] NigelYu commented on #330
独立部署的silohost app  会有这个问题，集成在WEBAPI项目中就一切正常

The independently deployed silohost app will have this problem, and everything is normal when integrated in the WEBAPI projec

[2021-11-26 01:07] #330 closed

[2021-11-28 21:34] koenbeuk commented on #331
I'm not sure what the issue is here. fa-tachometer is only used in Tests/TestHosts/TestHost/index.min.js which seems like a leftover from the past. Do we want to update these build artifacts (index.min.js) with latest or do we want to make sure that fa-tachometer is available?

[2021-11-28 21:43] koenbeuk commented on #19
Stream interceptors, if ever implemented, could help in implementing this feature: https://github.com/dotnet/orleans/issues/7394

[2021-12-14 21:03] archonandrewhunt opened #332 "Multitarget dotnet 3.1 and net5/6?"
Bit of a long shot, but has there been any thoughts about multi-targeting to still support those projects still on dotnet 3.1? 3.1 isn't EOL until Dec 3, 2022.

[2021-12-30 06:16] AntonPetrov83 opened #333 "Should I UseDashboard() for all hosts in a cluster?"
Hi!

This is not very clear from the README - should I UseDashboard() for all processes in the cluster or only for that which will host the dashboard?

[2021-12-30 06:49] richorama commented on #333
Short answer - yes, install the dashboard on every silo in the cluster.

Long answer - the dashboard will still partially function if only installed on one or more silos, but you'll miss out on the grain profiling and log streaming for silos that are not monitored.

[2021-12-30 06:51] #333 closed

[2021-12-30 06:51] richorama commented on #333
I have added a line to the readme to clarify that it should be installed on every silo. Thanks for pointing this out :¬)

[2022-01-21 07:02] ElanHasson opened #334 "Viewing historical data for cluster results in exception during JSON serialization: exception.stacktrace: System.ArgumentException: .NET number values such as positive and negative infinity cannot be written as valid JSON."
I am unable to access the silo details and tracing shows the following exception:

Using latest version of Dashboard and Orleans 3.6.0 and Dashboard 3.6.1.
.NET 6.

Repo is here: https://github.com/ElanHasson/web-scheduler/tree/main/Source/WebScheduler.Server

Dashboard is: https://scheduler.nullreference.io/

[code]

[2022-01-21 09:39] richorama commented on #334
Thanks for reporting this @ElanHasson I will investigate.

[2022-01-21 12:54] ElanHasson commented on #334
@richorama  funny enough, I randomly checked this morning: https://scheduler.nullreference.io/HistoricalStats/10.244.12.103:11111@380443774

[code]

[2022-01-26 17:26] richorama commented on #332
I don't think I have the capacity to support .NET 3.x unfortunately. Feel free to fork this repo!

[2022-01-26 17:26] #332 closed

[2022-01-26 17:27] archonandrewhunt commented on #332
Thanks, we ended up moving all our stuff to net6 recently so became a non-issue. Understand the reasoning either way.

[2022-01-29 21:47] ElanHasson commented on #334
I think I figured it out. I'm running in a container using gVisor. My guess is CPU/memory metrics are not allowed in this environment.

I saw the ECS provider, so I'll have to do similar if I want those metrics 😂

I do expect not a 404 and to see the page, just without those metrics, i.e. no error.

[2022-01-30 01:48] ElanHasson commented on #334
Yep as expected gVisor doing me sorry here.

https://scheduler.nullreference.io/OrleansDashboard/#/host/10.244.15.84:11111@381194005

![Screenshot_20220129-204743](https://user-images.githubusercontent.com/234704/151683569-e22bd10a-4d55-411a-8959-43a145f2d70d.png)

Works fine now.

[2022-01-31 13:44] ElanHasson commented on #334
An update:

Output from container running on gVisor:
`/proc/meminfo` (seems to work fine)

![image](https://user-images.githubusercontent.com/234704/151804296-c881dd05-adc6-4a65-a183-8741cf740e7f.png)

`/proc/stat`  (returns all 0s: https://github.com/google/gvisor/blob/master/pkg/sentry/fs/proc/stat.go#L88-L104)
![image](https://user-images.githubusercontent.com/234704/151804316-a8c5302a-8429-4f4

[2022-01-31 14:52] SebastianStehle commented on #334
Does it mean we can close this issue?

[2022-01-31 14:53] richorama commented on #334
I think we should keep this open, as the dashboard should fail gracefully in this situation.

[2022-01-31 14:59] SebastianStehle commented on #334
Okay, but the SiloRuntimeStatistics is from Orleans.  We either have to loop over all propperties to fix invalid numbers or write a custom Serializer for Single and doubles.

[2022-01-31 15:57] ElanHasson commented on #334
I'm asking @ReubenBond  and team on what they'd like the best fix to be on the Orleans side: https://discord.com/channels/333727978460676096/922945034427432980/937707474570608710

[2022-02-02 14:30] ElanHasson commented on #334
Here is the PR For Orleans which will allow `CpuLimit` to not be set.

[2022-02-02 15:41] richorama opened #338 "Ability to turn metrics capture on/off"

[2022-02-02 15:45] richorama opened #339 "Create a test host which simulates a larger orleans deployment"
...in an attempt to track down dashboard performance issues.

[2022-02-02 15:46] richorama commented on #338
..although I would prefer to fix the perf issue, than to navigate around it.

[2022-02-08 09:13] richorama opened #340 "Add support for streams"

[2022-02-10 22:11] KSemenenko commented on #340
This is good Idea, I have a lot of streams in the app, so it would be cool to see it

[2022-02-11 11:57] KSemenenko opened #344 "Display Grain interaction with WebGraphviz"
I think it would be good to make diagrams of the real interaction between Grains.

And to display it, use a tool like this:
http://www.webgraphviz.com
<img width="1154" alt="Screenshot 2022-02-11 at 12 56 27" src="https://user-images.githubusercontent.com/4385716/153587372-8163617d-03a5-4b21-9194-75cbcb72a6f6.png">

I already have a filter that collects data, but I can't do it in the front-end :(

[2022-02-11 12:20] richorama commented on #344
This looks like a great idea. It would be awesome to overlay call counts, exceptions, latency etc..

[2022-02-11 12:21] richorama commented on #344
something like the map you get in Application Insights
![image](https://user-images.githubusercontent.com/353138/153590560-b6a11f0c-009f-43ce-bca0-95fe9fed467a.png)

[2022-02-11 12:22] KSemenenko commented on #344
yes like this

[2022-02-11 12:41] SebastianStehle commented on #344
This would be amazing

[2022-02-11 15:48] KSemenenko commented on #344
I made a PR, following @ReubenBond  advice I use RequestContext and store the call stack in it.
I think there are two parts to the task.
1. Collect the call history, which I hope I did.
2. Convert this data to some format for display
3. A UI that will display this.

I would be grateful for any comments, as well as advice on how to properly write the tests.

I've seen a lot of test projects, but I

[2022-02-11 20:56] KSemenenko commented on #344
you can check some results here: http://www.webgraphviz.com

[code]

[2022-02-11 20:59] KSemenenko commented on #344
<img width="1785" alt="Screenshot 2022-02-11 at 21 59 30" src="https://user-images.githubusercontent.com/4385716/153669434-4ceab8f8-fbd6-40e9-8c2a-0e3de99288d0.png">

[2022-02-12 16:25] KSemenenko commented on #344
https://github.com/cytoscape/cytoscape.js
https://github.com/d3/d3

There are a lot of libraries, let’s find the best one

[2022-02-12 16:30] KSemenenko commented on #344
But I’m not familiar with front end technologies, so I can’t understand which library is better for it

[2022-02-12 19:27] SebastianStehle commented on #344
I have worked with this one: https://github.com/visjs/vis-network

[2022-02-12 21:37] koenbeuk commented on #344
I guess with the dashboard in general but certainly with this proposed feature, this intermixes very well with open telemetry (or telemetry in general). The open PR builds something unique to orleans but the same information can be derived from open telemetry with a much lower overhead cost.

Perhaps instead of introducing something Orleans specific, we can instead consume OT data and use that in

[2022-02-13 13:17] ElanHasson commented on #338
It seems viewing the dashboard increases CPU usage by 20-30%

<img width="999" alt="image" src="https://user-images.githubusercontent.com/234704/153754931-55fedd66-8eba-41b1-b433-122200085e06.png">

[2022-02-14 16:19] SebastianStehle commented on #344
Yes, could be. I think Open Telemetry already has some rate limiters built to reduce the number of single spans. If you can derive the needed information from these spans, it could work.

[2022-02-16 01:33] ElanHasson opened #346 "Orleans v4 preview has been released, will need to upgrade"
Would it be possible to have a branch and nugets for Orleans v4 ?

[2022-02-16 11:11] KSemenenko commented on #344
@SebastianStehle can you guid me please
I moved the logic to GrainProfilerFilter.

But I have a question about name formatting, because now we have two Invoke methods with different contexts.
And I would like to discuss the data we will be collecting and its formatting.
At the moment you're collecting Grain type, method and timing.

I need one more parameter that will indicate the type of the call

[2022-02-16 13:09] SebastianStehle commented on #346
No, it is not that easy. For example we have to annotate our POCOs and check other incompatibilities.

[2022-02-16 13:16] ElanHasson commented on #346
Oh yes, I know :)

[2022-02-16 13:25] SebastianStehle commented on #346
You could work on that and provide a PR. From my side It would be good enough to wait for the final release. It can be very annoying to go through all the betas and RCs.

[2022-02-16 14:09] ElanHasson commented on #346
Primary differences in the Hello World example is around silohost and siloclient. I ran into trouble with cluster membership. My saga is detailed on the Orleans discord

[2022-02-16 21:27] vlerouvillois-lixar opened #347 "Dashboard lib firing constant warnings - System.ArgumentNullException: Value cannot be null. (Parameter 'key')"
I launch the silo from a fresh project (code is available here : https://github.com/vlerouvillois-lixar/orleans-dashboard-warnings).
After a minute, the output is flooded with these errors every second.
I don't think it is an expected behavior and I can't figure out how to get rid of these.

[code]
![image](https://user-images.githubusercontent.com/83468229/154359836-9b3eec81-5488-41a0-8114-740c27

[2022-02-16 22:00] richorama commented on #347
You appear to be using an older version of the dashboard. Could you try and upgrade to 3.6.1, as I think this has been fixed.

[2022-02-17 06:56] KSemenenko commented on #344
What do you think about this method?

```void Track(string trackId, double elapsedMs, Type grainType, [CallerMemberName] string methodName = null, bool failed = false);```

When a new request starts, we put new trackId, if we understand that the request chain continues, we use the same trackId.
In this way we can get all the requests in the  chain.
e.g. you start a registration in UserGrain, which

[2022-02-17 07:12] SebastianStehle commented on #344
We just have to introduce a second delegate I think.

[2022-02-17 07:36] KSemenenko commented on #344
For me it looks like they will do the same thing

[2022-02-17 08:00] SebastianStehle commented on #344
Yes, but if you introduce another parameter it would be a breaking change, isn't it?

[2022-02-17 08:15] KSemenenko commented on #344
Yes, but I just don't know who uses this method other than the filter.
If there are more consumers, then of course you have to make a new method, and then another storage for the record with traceId.

[2022-02-17 10:23] SebastianStehle commented on #344
Sorry, I thought you talk about the formatter delegate. I should have read it more carefully.

I think right now we aggregate the method calls per Grain+Method. If we also need the caller then we have to group by this as well.

[2022-02-17 17:55] vlerouvillois-lixar commented on #347
Thank you for getting back to me. You were right, latest 3.6.1 has the issue fixed. I actually tried before posting but my setup wasn't allowing me to run the app because I didn't have VS 22 with .NET 6 installed. Now I'm all up to speed!

[2022-02-17 17:55] #347 closed

[2022-02-19 21:16] SebastianStehle opened #349 "What is this line?"
https://github.com/OrleansContrib/OrleansDashboard/blame/master/OrleansDashboard/Implementation/Grains/DashboardGrain.cs#L79

@richorama Do you remember the reason of this comment? Probably not ;)

[2022-02-19 21:43] richorama commented on #349
No, I don't remember what I meant by that comment (apologies, it wasn't a very helpfile thing to write).

[2022-02-19 21:45] SebastianStehle commented on #349
Okay, thanks.

[2022-02-19 21:45] #349 closed

[2022-02-19 21:53] richorama commented on #346
#348

[2022-02-21 11:31] SebastianStehle opened #353 "Collect only data while the dashboard is open?"
We made a lot of attempts to keep the performance up but the fastest approach would be not to collect data at all, when nobody is actually interested in it.

We could use a grain to track whether someone is actually interested in the data and then broadcast this to all silos to turn tracking on or off.

Of couse you would have to wait 100 seconds to get some valuable data, but it would be the fast

[2022-02-21 12:03] richorama commented on #353
yes, I wondered about this as well. My thought was to have some different modes set by config:

1. Collect data all the time
1. Collect data when switched on/off by a button on the dashboard
1. Collect data only when the dashboard is open.

[2022-02-21 12:12] SebastianStehle commented on #353
I think for option 2. we would have to store the state somewhere, which I would avoid.

[2022-02-21 12:15] richorama commented on #353
good point

[2022-02-21 13:54] SebastianStehle commented on #353
The question is: How to implement that:

1. We can easily track the active status in the dashboard grain. We just need a flag that is set to true for each request and automatically set to false after some time without activity by using a timer.

2. We need to track this status on each grain. We can use the silo grain for that, but we have to ensure that it lives once on each silo. The easiest appr

[2022-02-21 14:54] richorama commented on #353
I wonder if it's easier to just turn all the dashboard data capturing on/off rather than just enabling individual grains/silos, as some metrics are aggregated to give cluster-wide numbers.

[2022-02-21 16:47] SebastianStehle commented on #353
I would not turn off individual silos, but we have to sync this value across all silos. I mean we could also query the dashboard grain and query that, but it would have a long delay and create unnecessary calls.

[2022-04-16 05:23] wangjia184 opened #356 "Show silo name besides silo address"
Currently the amazing dashboard presents silo addresses in table. To know the silo name(POD name when running in K8S), one needs to check in the silo's details page. Better to have silo name aside in the same table so it is more meaningful.

![image](https://user-images.githubusercontent.com/2765840/163662793-8821f5be-6411-4676-8621-d5b7eb9033dc.png)

[2022-04-16 06:13] wangjia184 commented on #356
PR is here: https://github.com/OrleansContrib/OrleansDashboard/pull/357

[2022-04-19 13:08] #356 closed

[2022-04-19 13:08] richorama commented on #356
resolved by #357

[2022-04-19 13:11] richorama opened #358 "Fix node build"

[2022-06-19 22:22] leonardosimoura commented on #156
Hi all,
i made a PR to get the state from grain and a found this issue, so i think is better keep this one...

The ideia is to add a inital support for this with a list of activations ids and a view of current state(details in PR)

PR:  #360

Let me know if you have any suggestions.

[2022-06-22 07:09] arnoldp-workstreampeople-com opened #362 "Activation count not correct for TestCluster with multiple silos"
I have a test cluster (`Orleans.TestingHost.TestCluster`) which runs 3 silos.

Consider a grain with the following `OnActivate` method:

[code]

and a `Hello` method:

[code]

When I call this Hello method 10 times on random grain ids:

[code]

I see correct behavior in the logs (10 times Activate, 10 times Hello)

[code]

But the dashboard shows me 10 activations per silo and 30 in total:

![imag

[2022-07-19 01:57] jeremylcarter opened #364 "Grain name in v4 is not correct"
I notice that in the preview branch using Orleans v4 that the name of the grain is incorrect inside the Dashboard.

It comes down to the `RuntimeTypeNameFormatter` which if you use the unit test grains does this:

`RuntimeTypeNameFormatter.Format(typeof(ITestGrain)) == "TestGrains.ITestGrain,TestGrains"`

Notice that the namespace is tacked on the end delimited by a comma.

The `TypeFormatter` and

[2022-07-24 09:49] ElanHasson opened #365 "`IRemindable.ReceiveReminder` should show ReminderName"
Currently, only the grain method call is shown.

For special framework callback interfaces such as `IRemindable`,  it would be great if the `ReminderName` parameter was also displayed alongside the grain in the dashboard.

[2022-07-29 07:09] jeremylcarter commented on #365
Could this be relate to #364 ?

[2022-07-31 14:45] SebastianStehle commented on #364
Can we not just use RuntimeTypeNameParser then?

[2022-07-31 15:14] SebastianStehle commented on #365
I think it makes sense. But you can already implement this on your own. Add a custom GrainMethodFormatterDelegate to the Service collection:

[code]

[2022-07-31 15:17] SebastianStehle commented on #362
Could you add test application or unit test as a PR so we can have a look?

[2022-07-31 18:11] #353 closed

[2022-07-31 18:12] SebastianStehle opened #367 "Close old issues"
@richorama Do you think it makes sense to close old issues? There are 3 years old questions and issues and we should just clean them up I think.

[2022-07-31 19:22] richorama commented on #367
Agreed. I'm happy to do a clear out tomorrow.

On Sun, 31 Jul 2022, 19:12 Sebastian Stehle, ***@***.***>
wrote:

[2022-07-31 20:31] ElanHasson commented on #365
No, I thought this was net new functionality

[2022-07-31 20:38] SebastianStehle commented on #365
No, it is not related.

[2022-08-01 08:34] #3 closed

[2022-08-01 08:35] #9 closed

[2022-08-01 08:35] #11 closed

[2022-08-01 08:36] richorama commented on #19
I don't believe it is currently possible to implement this feature.

[2022-08-01 08:36] #19 closed

[2022-08-01 08:36] #25 closed

[2022-08-01 08:37] #27 closed

[2022-08-01 08:41] #28 closed

[2022-08-01 08:41] #51 closed

[2022-08-01 08:42] #367 closed

[2022-08-01 08:43] richorama commented on #278
WIP

[2022-08-01 08:43] #331 closed

[2022-08-01 08:45] richorama commented on #338
v4.0 will only capture metrics while you're observing.

[2022-08-01 08:45] #338 closed

[2022-08-01 08:45] #289 closed

[2022-08-01 08:46] #196 closed

[2022-08-01 08:46] #161 closed

[2022-08-01 08:46] #182 closed

[2022-08-01 08:47] #123 closed

[2022-08-01 08:47] #156 closed

[2022-08-01 08:48] #124 closed

[2022-08-01 08:49] #160 closed

[2022-08-01 08:49] #339 closed

[2022-08-01 08:49] #340 closed

[2022-08-01 08:49] #358 closed

[2022-08-01 08:51] #362 closed

[2022-08-01 08:51] #286 closed

[2022-08-01 08:57] #365 closed

[2022-08-25 19:10] tanordheim opened #369 "Dependency on Microsoft.Orleans.Runtime.Abstraction breaks on Orleans 4.0 preview 2"
The `OrleansDashboard.Core` nuget package has a dependency on `Microsoft.Orleans.Runtime.Abstractions ≥ 3.6.0` which is causing me some issues when installing OrleansDashboard in a project that depends on Orleans 4.0 preview 2:

[code]

[2022-08-25 19:30] SebastianStehle commented on #369
There should be a pre-release package for beta1, feel free to open a PR for beta2 ;)

[2022-08-26 15:59] richorama opened #371 "display bug when 0 grains on the silo"
<img width="409" alt="image" src="https://user-images.githubusercontent.com/353138/186945658-5700f4cc-9296-4e70-a122-b8736ddcde7b.png">

[2022-08-28 22:03] #369 closed

[2022-09-13 23:58] jeremylcarter commented on #364
@SebastianStehle

Thanks for fixing this!

[2022-10-20 22:09] jsmithtx opened #372 "Example hosting with Silo in AppService?"
I have tried to get this working both locally and on an AppService with an Orleans cluster that is hosted on the same App Service and nothing works. I attempted the basic "UseDashboard" instructions and browsing to 8080 doesn't exist. Self hosting fails as it can't find /dashboard. Adding the path of /dashboard causes missing registration issue. If I get those registered it still throws a 404.

[c

[2022-10-21 12:57] richorama commented on #372
This sample works for me:
[code]

Are you following the same broad steps?

[2022-10-24 12:42] jsmithtx commented on #372
This worked. Must have tried everything BUT that! Thanks

[2022-10-24 12:42] #372 closed

[2022-10-24 12:44] richorama commented on #372
I will include this in the docs...

[2022-11-09 20:52] #346 closed